<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Do Task For Me | FAQ</title>
	<meta charset="utf-8">

	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="description"
		content="In our FAQ you will find answers to the most typical questions our customers usually have. You can also initiate a Live Chat to contact our Support Team.">

	<!-- <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffbe21">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<link rel="preconnect" href="https://www.gstatic.com/" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> -->

	<meta name="robots" content="noindex, nofollow">

	<style>
		html:before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			display: none;
			background-color: rgba(16, 8, 3, 0);
			z-index: 2
		}

		@media (min-width:768px) {
			html:before {
				display: block
			}
		}

		@media (min-width:1024px) {
			html:before {
				display: none
			}
		}

		.Header {
			position: sticky;
			top: 0;
			z-index: 20;
			padding: 0 24px;
			background-color: #2d2d2c
		}

		.Header {
			-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			box-shadow: 0 15px 40px rgba(16, 8, 3, .08)
		}

		.Header .container {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px
		}

		@media (min-width:1024px) {
			.Header .container {
				-webkit-box-shadow: 0 -1px 0 0 #535353 inset;
				box-shadow: inset 0 -1px 0 0 #535353
			}
		}

		.Header__logo,
		.Header__logo--white-text {
			position: relative;
			max-width: 203px;
			z-index: 2;
			display: none
		}

		@media (min-width:1024px) {

			.Header__logo,
			.Header__logo--white-text {
				max-width: 234px
			}
		}

		.Header__logo--white-text {
			display: inline-block
		}

		.Header__burger {
			position: relative;
			width: 24px;
			height: 19px;
			background: none;
			border: 0;
			cursor: pointer;
			z-index: 2
		}

		@media (min-width:1024px) {
			.Header__burger {
				display: none
			}
		}

		.Header__burger span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: #fff;
			border-radius: 3px;
			will-change: transform
		}

		.Header__burger span:first-child {
			-webkit-transform: translateY(-6px);
			transform: translateY(-6px)
		}

		.Header__burger span:last-child {
			-webkit-transform: translateY(6px);
			transform: translateY(6px)
		}

		.Header__menu {
			visibility: hidden;
			position: fixed;
			top: 78px;
			right: -100%;
			-webkit-transform: translateX(0);
			transform: translateX(0);
			width: 100%;
			height: calc(100vh - 78px);
			padding: 8px 24px 30px;
			background-color: #fff;
			overflow-y: auto;
			-webkit-box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
			box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
			will-change: transform
		}

		@media (min-width:768px) {
			.Header__menu {
				width: 370px;
				right: -370px;
				padding: 8px 24px 30px;
				margin-left: auto
			}
		}

		@media (min-width:1024px) {
			.Header__menu {
				position: static;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
				-webkit-box-align: end;
				-ms-flex-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				background-color: transparent;
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 0;
				width: auto;
				height: auto;
				visibility: visible;
				-webkit-transform: translateX(0);
				transform: translateX(0);
				overflow: visible
			}
		}

		.Header__menu-list {
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none
		}

		@media (min-width:1024px) {
			.Header__menu-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: end;
				-ms-flex-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between
			}
		}

		@media (min-width:1024px) {
			.Header__menu-list li a {
				color: #fff
			}
		}

		.Header__menu-list>li {
			position: relative;
			margin-bottom: 0
		}

		.Header__menu-list>li+li {
			border-top: 1px solid #acacac
		}

		@media (min-width:1024px) {
			.Header__menu-list>li+li {
				margin-left: 15px;
				border-top: 0
			}
		}

		@media (min-width:1200px) {
			.Header__menu-list>li+li {
				margin-left: 28px
			}
		}

		.Header__menu-list>li.Header__menu-list-item-order {
			border-top: 0;
			padding-top: 16px
		}

		@media (min-width:1024px) {
			.Header__menu-list>li.Header__menu-list-item-order {
				display: none
			}
		}

		.Header__menu-list>li.Header__menu-list-item-order .btn--order-now {
			display: inline-block;
			padding: 12px 28px;
			width: auto
		}

		.Header__menu-list a {
			display: block;
			font-size: .875rem;
			font-weight: 600;
			color: #100803;
			padding: 16px 0;
			border-bottom: .125em solid transparent;
			-webkit-box-shadow: 0 .071em 0 transparent;
			box-shadow: 0 .071em 0 transparent;
			text-decoration: none
		}

		@media (min-width:1024px) {
			.Header__menu-list a {
				display: inline;
				padding: 0
			}
		}

		.Header__user-box {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-left: auto
		}

		@media (min-width:1024px) {
			.Header__user-box {
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				margin-left: 7px;
				padding-left: 8px
			}
		}

		@media (min-width:1200px) {
			.Header__user-box {
				margin-left: 14px;
				padding-left: 14px
			}
		}

		.Header__user-box .btn--manage-order {
			white-space: nowrap;
			padding: 0 0 0 36px;
			margin-right: 20px;
			width: 38px;
			height: 38px;
			-webkit-box-shadow: 0 0 1px 1px #585655;
			box-shadow: 0 0 1px 1px #585655;
			border-radius: 50%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0
		}

		@media (min-width:1024px) {
			.Header__user-box .btn--manage-order {
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 0;
				margin-right: 28px;
				width: auto;
				height: auto;
				border: 0;
				border-radius: 0;
				overflow: visible;
				border-bottom: .125em solid transparent;
				color: #fff
			}
		}

		.Header__user-box .btn--manage-order:before {
			content: "";
			width: 17px;
			height: 17px;
			margin-right: 10px;
			background: url(https://domyassignments.com/images/ico_manage-orders.svg) 50% no-repeat;
			background-size: contain
		}

		@media (max-width:1024px) {
			.Header__user-box .btn--manage-order:before {
				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto
			}
		}

		.Header__user-box .btn--order-now {
			display: none;
			padding: 12px 28px
		}

		@media (min-width:1024px) {
			.Header__user-box .btn--order-now {
				display: block
			}
		}

		body {
			line-height: 1.4
		}

		[data-notify-widget] {
			display: block !important
		}

		@font-face {
			font-family: Bebas Neue;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Bebas Neue;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 600;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 600;
			font-display: swap
		}

		*,
		:after,
		:before {
			margin: 0;
			padding: 0;
			outline: none;
			box-sizing: border-box
		}

		body,
		html {
			-webkit-tap-highlight-color: transparent;
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
			scroll-behavior: smooth
		}

		body {
			background-color: #fff;
			font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			color: #100803;
			line-height: 1.6;
			font-size: 14px;
			font-weight: 400;
			word-wrap: break-word;
			margin: 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility
		}

		@media (min-width:1024px) {
			body {
				line-height: 1.7
			}
		}

		img {
			height: auto;
			vertical-align: top
		}

		iframe,
		img {
			max-width: 100%
		}

		.page-wrapper {
			position: relative
		}

		.section {
			padding: 40px 24px
		}

		@media (min-width:1024px) {
			.section {
				padding: 110px 24px
			}
		}

		.container {
			width: 100%
		}

		@media (min-width:1024px) {
			.container {
				max-width: 1220px;
				margin-left: auto;
				margin-right: auto
			}
		}

		.breadcrumbs .wrap {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			list-style: none;
			margin-bottom: 18px;
			padding: 0;
			font-size: 12px;
			line-height: 24px;
			color: #acacac
		}

		@media (min-width:480px) {
			.breadcrumbs .wrap {
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				margin-bottom: 24px
			}
		}

		.breadcrumbs .wrap li {
			margin-bottom: .5rem
		}

		@media (min-width:1024px) {
			.breadcrumbs .wrap li {
				margin-bottom: 1rem
			}
		}

		.breadcrumbs .wrap li+li {
			position: relative;
			margin-left: 56px
		}

		.breadcrumbs .wrap li+li:before {
			content: "";
			width: 1rem;
			height: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -36px;
			background-color: #ffb806;
			margin: auto
		}

		.breadcrumbs .wrap li>span {
			white-space: nowrap
		}

		.breadcrumbs a {
			color: #fff;
			border-bottom: .125em solid transparent;
			-webkit-box-shadow: 0 .071em 0 #585655;
			box-shadow: 0 .071em 0 #585655;
			text-decoration: none;
			white-space: nowrap
		}

		.h1,
		h1 {
			font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 40px;
			line-height: 1.15;
			font-weight: 400;
			text-transform: uppercase
		}

		@media (min-width:1024px) {

			.h1,
			h1 {
				font-size: 74px
			}
		}

		h5 {
			font-size: 16px;
			line-height: 1.4;
			font-weight: 600;
			margin-bottom: 8px
		}

		@media (min-width:1024px) {
			h5 {
				font-weight: 500;
				font-size: 24px
			}
		}

		.btn {
			display: inline-block;
			font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			overflow: hidden;
			position: relative;
			vertical-align: top;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 14px 48px;
			border: 0;
			border-radius: 4px
		}

		.btn {
			text-decoration: none
		}

		.btn--orange {
			background-color: #ffb806;
			color: #100803
		}

		a {
			color: #100803;
			text-decoration: none
		}

		p {
			margin-bottom: 1em
		}

		.section-top-landing {
			background-color: #2d2d2c;
			background-size: 13px, 39px, 20px, 128px;
			background-repeat: no-repeat;
			background-position: right -2px top 49px, right -3px top 55px, left 17px bottom 26px, left -54px top 88px;
			padding-top: 1rem;
			padding-bottom: 70px;
			position: relative
		}

		@media (min-width:1024px) {
			.section-top-landing {
				background-position: left -173px top 922px, left -6px top 241px, left -126px top 48px, right 346px top 112px, right 341px top 125px, right -4.5rem top 60px, 0 0;
				background-size: 433px, 32px, 214px, 26px, 80px, 510px, cover;
				padding-top: 1.5rem;
				position: relative;
				padding-bottom: 112px;
				min-height: 300px
			}
		}

		.section-top-landing:after {
			content: "";
			position: absolute;
			bottom: -23px;
			right: 0;
			height: 43px;
			width: 88px;
			background: url(https://domyassignments.com/images/ico_dottes.svg) 50%/contain no-repeat
		}

		@media (min-width:1024px) {
			.section-top-landing:after {
				bottom: -5rem;
				right: 30px;
				height: 156px;
				width: 97px;
				background: url(https://domyassignments.com/images/redesign/decorations/img_circles-yellow.svg) 50%/contain no-repeat;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg)
			}
		}

		.section-top-landing__heading {
			max-width: 43.1rem;
			margin: 0 auto;
			text-align: center
		}

		.section-top-landing__heading__title {
			color: #fff
		}

		.section-cta {
			padding-top: 0
		}

		.section-cta__inner {
			width: 100%;
			padding: 24px;
			border-radius: 4px;
			position: relative
		}

		@media (min-width:1024px) {
			.section-cta__inner {
				padding: 2rem 2rem 2rem 310px
			}
		}

		.section-cta__inner h5 {
			max-width: 522px
		}

		.section-cta__inner p {
			margin-bottom: 1.5rem;
			max-width: 522px
		}

		.section-cta__inner img {
			height: auto;
			margin-bottom: 8px
		}

		@media (min-width:1024px) {
			.section-cta__inner img {
				width: 171px;
				height: auto;
				position: absolute;
				top: 45px;
				left: 5rem;
				margin-bottom: 0
			}
		}

		.section-cta--type-orange .section-cta__inner {
			background-color: #ffb800
		}

		.section-cta.decor-2 p {
			max-width: 100%
		}

		@media (min-width:1024px) {
			.section-cta.decor-2 img {
				width: 131px;
				top: 28px;
				left: 5rem
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none
		}

		ul li {
			margin-bottom: 1rem
		}

		.section-faq-page__inner {
			position: relative;
			background-color: #fff;
			padding: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex
		}

		@media (min-width:1024px) {
			.section-faq-page__inner {
				padding: 90px 104px;
				-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
				box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
				border-radius: 4px;
				margin: -170px auto 0;
				max-width: 1014px
			}
		}

		.section-faq-page__inner #CommonPage {
			position: relative;
			min-height: 100px;
			width: 100%
		}

		@media (max-width: 780px){
			.Accordion__item .Accordion__item__heading {
			    font-size: 13px;
			    font-weight: 500;
			    line-height: 25px;
			    margin-bottom: 0;
			    text-transform: unset;
			    margin-left: 8px;
			}

			.section-top-landing {
			    background-color: #06234A;
			    background-image: url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark_thin.svg), url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark-004_wide.svg);
			    background-size: 13px, 39px, 20px, 128px;
			    background-repeat: no-repeat;
			    background-position: right -2px top 49px, right -3px top 55px, left 17px bottom 26px, left -54px top 88px;
			    padding-top: 1rem;
			    padding-bottom: 70px;
			    position: relative;
			    margin-top: 54px;
			}

			/* .Accordion__item__heading:after, .Accordion__item__heading:before {
			    content: "";
			    width: 13px;
			    height: 3px;
			    position: absolute;
			    top: calc(50% - 3px);
			    right: 0;
			    background-color: #062356;
			    -webkit-transition: background-color .3s ease, opacity .3s ease;
			    transition: background-color .3s ease, opacity .3s ease;
			    margin: auto;
			    right: 18px;
			}

			.Accordion__item__heading.plus:after {
			    content: "";
			    width: 3px;
			    height: 13px;
			    right: 18px;
			    transform: translateY(-50%);
			} */
		}

	</style>

	<link href="./css/main/footer-related-links-css/frequently-asked-questions-9a8b795a.2c739c2c1a725c261975.css"
		rel="preload" as="style" media="all" onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet"
			href="./css/main/footer-related-links-css/frequently-asked-questions-9a8b795a.2c739c2c1a725c261975.css">
	</noscript>

	<link href="./css/main/footer-related-links-css/frequently-asked-questions-9acf4d28.358fa93d82179260cc3c.css" rel="preload" as="style" media="all"
		onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/frequently-asked-questions-9acf4d28.358fa93d82179260cc3c.css">
	</noscript>

	<link href="./css/main/footer-related-links-css/frequently-asked-questions-b1e621c0.2626196b3510daa8c42c.css" rel="preload" as="style" media="all"
		onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/frequently-asked-questions-b1e621c0.2626196b3510daa8c42c.css">
	</noscript>

	<link href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css" rel="preload" as="style"
		media="all" onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css">
	</noscript>

	<script>
		window.dataLayer = window.dataLayer || []; dataLayer.push({ 'userId': null, 'event': 'funnel-anonymous', 'paidOrders': null, 'latestOrderId': null }); document.addEventListener('DOMContentLoaded', function () {
			(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
						new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
						'http://www.googletagmanager.com/gtm.js?id=' + i + dl + ''; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TJB7WC');
		});
		window['GoogleAnalyticsObject'] = 'ga';
		window['ga'] = window['ga'] || function () {
			(window['ga'].q = window['ga'].q || []).push(arguments)
		};
	</script>
	<script>
		var pageConfig = {};
		var getEnvironment = 'production';
	</script>
	<script>function checkSupport() { var e = document.documentElement, o = new Image; o.onload = o.onerror = function () { isSupported = 2 === o.height, isSupported || e.classList.add("no-webp") }, o.src = "data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA" } checkSupport();</script>
</head>

<body>
	
<%- include("../../partials/header.ejs") %>
<%- include("../../partials/whatsapp-contact.ejs") %>  
<%- include("../../partials/cursor-effect.ejs") %>

	<div data-notify-widget class="NotifyWidget-banner"></div>

	<div class="page-wrapper ">

		<!-- HEADER -->
		


		<div class="section section-top-landing ">
			<div class="container">
				<div class="section-top-landing__inner">
					<div class="breadcrumbs">
						<ul class="wrap clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
									itemprop="item" href="/"><span
										itemprop="name">Do Task For Me</span></a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span
									itemprop="name">FAQ</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
					<div class="section-top-landing__heading">
						<h1 class="h1 section-top-landing__heading__title">
							Frequently asked questions </h1>
					</div>
				</div>
			</div>
		</div>

		<section class="section section-faq-page">
			<div class="container">
				<div class="section-faq-page__inner">
					<div id="CommonPage" data-page="frequently_asked_questions" data-site-id="75">
						<ul class="toggle-list Accordion list">

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Is your service confidential?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>When you place an order with our company, we ask you to provide us with
												such personal information as your name, phone number, and email address.
												We need this data to keep you updated on the important things related to
												your order or account. </p>
											<p>Please note that our support team may contact you using only the phone
												number(s) stated on our website, such as 1-800-769-3254. In order to
												secure our mutual cooperation, please do not communicate with those who
												introduce themselves as DoMyAssignments.com support staff and reach you
												from different phone numbers.</p>
											<p>
												Also remember that we never ask you to provide your credit card
												information via phone conversations. You should enter this information
												only on appropriate billing form when making an online payment on our
												website. The DoMyAssignments.com support administrator will send a
												confirmation letter to your <a href="/login-user">personal
													account</a> when your payment is received.
											</p>
											<p>We use a secure encrypted connection and do not store your private data
												if we do not need it anymore. For more details about how we ensure your
												confidentiality, check our <a>Privacy
													Policy</a>, which completely complies with the GDPR.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Is it ethical to receive your help with
									my assignments?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>We offer original samples that can be used legally in a number of ways if
												properly referenced:</p>
											<ul>
												<li>As a source of arguments or ideas for your own research</li>
												<li>As a source of additional understanding of the subject</li>
												<li>For direct citing</li>
											</ul>
											<p>Nonetheless, check your college’s/university’s policies, including their
												definition of plagiarism and paraphrasing before using our services.
												Make conscious decisions in regards to your education.</p>
										</div>
									</div>
								</div>
							</li>


							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Do your writers complete online
									assignments and multiple choice (checkboxes, T/F, etc.) tests?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>We do not complete multiple choice tests and/or any other kind of online
												tests, as we believe it is as much the student's direct responsibility
												to pass tests (whether they are online or not), as it is to take exams.
												Besides, it is hard to evaluate the true quantity of work done by the
												writer while performing a multiple choice test. We also recommend not to
												share your personal information with writers (including any account
												login information) both in the paper’s details and through messages, as
												the company will not take responsibility if your personal data is abused
												in such a situation. In case you have ordered such an assignment, your
												order will be canceled and money will be immediately paid back.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Is there a possibility of plagiarism in
									my completed order?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>We complete each paper from scratch and in order to make you feel safe
												regarding its authenticity, we check it for plagiarism before its
												delivery. To do that, we use our in-house software, which can find not
												only copy-pasted fragments, but even paraphrased pieces of text. Unlike
												popular plagiarism detection systems which are used by most universities
												(e.g. Turnitin.com), we do not report to any public databases—therefore,
												such checking is safe.</p>
											<p>We provide a <strong>plagiarism-free guarantee</strong> that ensures your
												paper is always checked for its uniqueness. Please note that it is
												possible for a writing company to guarantee no plagiarism <em>against
													open Internet sources and a number of certain databases, but there
													is no technology (except for <a
														href="http://turnitin.com/">turnitin.com</a> itself) that could
													guarantee no plagiarism against all sources that are indexed by
													turnitin</em>. If you want to be 100% sure of your paper’s
												originality, we suggest you to check it using the WriteCheck service
												from <a href="http://turnitin.com/">turnitin.com</a> and send us the
												report.</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Do you keep a database of pre-written
									essays?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												No, we do not have such a database. All papers you order from us are
												written from scratch. This means your paper is unique and has never been
												published before—neither will it be published after we deliver it to
												you.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">What is the format of your custom
									essays?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												All our academic papers come in an accepted academic format: 1-inch
												margins on all sides, 275 words per page, 12-point Times New Roman/Arial
												font, double-spaced. If you need special formatting for your paper,
												please include these requirements in the <b>Paper instructions</b> box
												on the order page. Our writers can complete your paper, following all
												major formatting styles like APA, MLA, Chicago, Turabian, and others.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Is there a money-back guarantee? If
									yes, how can I receive a refund?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												You can get more details about possible types and terms of refunds on
												our official <a>money-back
													guarantee</a> page.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Who will write my custom paper? What is
									my writer's degree?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												Our writers have various academic degrees (from master's to PhD level)
												in a number of specializations. Due to that, we can easily choose an
												expert who fits the exact requirements for completing a particular
												paper. To ensure the quality of our service, we carefully investigate
												each writer's skills set based on the following parameters:
											</p>
											<ul>
												<li>Academic and professional experience</li>
												<li>Results of the writer's online written English test and the writer's
													application essay</li>
												<li>Rating in a particular field of study a writer has gained while
													working for DoMyAssignments.com.</li>
											</ul>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How to order a paper on
									DoMyAssignments.com?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												We take care not only of your academic success, but also of your
												experience with us. That’s why we have made the process of placing your
												order as easy and fast as possible—usually, it takes no longer than 3
												minutes.
											</p>
											<p>Let’s have a closer look at the simple steps you need to go through for
												submitting your order:</p>
											<ol>
												<li>
													<strong>Fill in the order form.</strong>
													<p>Be sure to include specific paper instructions or upload any of
														the required materials. If you have any questions while
														specifying your paper’s information, just click on the
														<strong>info</strong> sign at the end of every field name and
														you will see a detailed tip on what exact information is
														required.
													</p>
												</li>
												<li>
													<strong>Proceed with the payment.</strong>
													<p>After you are through with the order form, you will need to make
														a payment via a preferable system. Right after that, you will be
														automatically provided with your <a
															href="/login-user">personal account</a> where
														you can track your order’s progress, provide additional
														requirements, and send messages to your writer or support
														manager.</p>
												</li>
												<li>
													<strong>A personal writer is assigned to your order.</strong>
													<p>Our qualified staff will choose the most suitable writer whose
														skills and experience match your field of studies and paper’s
														details. In case the writer must have any particular software or
														literature in order to get the assignment done, please do not
														forget to mention this in your initial instructions.</p>
												</li>
												<li>
													<strong>Your paper is completed and delivered to your <a
															href="/login-user">personal
															account</a>.</strong>
													<p>When the writer finishes your paper, it is delivered to your <a
															href="/login-user">personal account</a> as a
														PDF document, available for preview only. You will be able to
														download an editable MS Word version of the order right after
														you click the <strong>Approve</strong> button in the
														<strong>Files</strong> tab of your <a
															href="/login-user">personal account</a>. If
														any changes are to be applied to the paper, you are always
														welcome to request a free revision with a new deadline for the
														writer (be sure to check out more information about this in our
														<a>revision policy</a>).
													</p>
												</li>
											</ol>
											<p>You can see for yourself how easy the process is by going to the <a
													href="/form">order page</a> and submitting your
												paper details right now.</p>
										</div>
									</div>
								</div>
							</li>
							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">What is a free inquiry?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												In case you want to double-check if we have a suitable writer to match
												your requirements, you can place a free inquiry. This is a good option
												if you need an assignment on a complex subject and want to make sure the
												necessary writer is available to work on it before paying for your
												order.
											</p>
										</div>
									</div>
								</div>
							</li>
							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How do I fill in the order/inquiry
									form?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>First, you need to go to the <a href="/form">order
													form</a>. Once there, specify your topic, page count (excluding the
												title and bibliography pages), delivery date, and the number of sources
												needed. Be sure to leave your comments on what exactly your assignment
												requirements are. If you have any questions while submitting your paper
												information into the order form, just click on the <strong>info</strong>
												sign after every field name and you will see a detailed tip in the
												pop-up window. You also need to indicate the course title, writing
												style, and any other important detail—this helps our writers to complete
												your assignment with maximum precision.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How can I pay for a custom-written
									paper? Is it safe to submit payments through your site?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												dotaskforme.com cooperates with international trustworthy payment
												systems only to ensure the safety and speed of your money transfer, as
												these companies are world known for the quality of their services.

											</p>
											<p>After you fill out the order form, you will be redirected to the
												company's web page where tips will guide you through an easy process of
												paying for our service. In a couple of minutes, we receive the funds and
												start working on your order to provide you with high-quality academic
												assistance.
											</p>
										</div>
									</div>
								</div>
							</li>


							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">What does a complex assignment
									mean?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												A complex assignment indicates an order that requires from our expert
												some special knowledge and more advanced research skills. Consequently,
												writers with such qualities should be compensated accordingly. Here is a
												list of disciplines the service <strong>complex assignment</strong>
												applies to:
											</p>

											<ul>
												<li>Accounting</li>
												<li>Architecture, Building and Planning</li>
												<li>Chemistry</li>
												<li>Computer science</li>
												<li>Finance</li>
												<li>Mathematics</li>
												<li>Physics</li>
												<li>Statistics</li>
												<li>IT, Web</li>
												<li>Biology (and other Life Sciences)</li>
												<li>Civil Engineering</li>
												<li>Engineering</li>
											</ul>
											<p>If you place an order for one of these disciplines, you will be charged a
												20% more than for ordinary assignments.</p>
											<p>Orders that fall into the category <strong>Other</strong> are reviewed by
												the support team, and if they identify your discipline as a complex one,
												you will be charged an additional 20% of the initial order price. You
												will be notified of the price change and receive a link for additional
												payment.</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How can I send my case
									study/articles/additional materials to the writer?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												You can add any files either while filling out the order form, or right
												after you did it. Upon entering all of your paper’s details, you will be
												automatically redirected to your <a
													href="/login-user">personal order page</a> on
												DoMyAssignments.com. Here, you can attach any of the required case
												studies/articles/additional materials directly to the Files tab. As soon
												as you upload the materials, they become visible to your writer. If you
												experience any difficulties with uploading your files, feel free to
												contact our support manager and ask for assistance.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Can I choose a specific writer? <span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												If you are a returning customer, you can request the writer who
												previously completed an order for you. When placing a new order, you
												need to choose the <strong>Request writer</strong> option and select the
												writer you need from the drop-down list. Yet, there may be cases when
												this particular expert is not available at the moment. Therefore, a
												different writer can be assigned to your order.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Can the category of the writer I
									selected change?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												1) Our writers are evaluated as often as possible to make sure we
												deliver only top-notch orders. We also frequently shuffle the "Advanced"
												writers to have the best ones on their team. Our real-time rating system
												takes every order a writer completes into account, selecting a true
												match for such an elite team. The latest evaluation of skills or
												changing average scores may be the reason why they spend some time on
												the regular team and some time on the advanced team.
											</p>
											<p>2) We evaluate our writers on a regular basis to make sure they deliver
												quality papers that correspond to their category. Thus, some of them may
												be transferred from the "Best available" category to "Advanced" and vice
												versa. Once a writer completes an order, our real-time rating system
												updates his or her score. That's why a writer you worked with before may
												belong to a different category.</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading plus minus">Can I contact a writer who
									will be
									writing my paper?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												You will be able to communicate with the writer assigned by sending
												messages from your <a href="/login-user">personal
													account</a>. You will also get an email notification about every new
												message received from the writer. To ensure your paper is completed in
												the best possible way, we recommend to check your personal account from
												time to time to see if your writer has any questions regarding your
												order.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How long does it take you to find me a
									writer?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												We start looking for a suitable writer to match your requirements as
												soon as you place your order. Yet, sometimes it may take a couple of
												days to find an available expert, especially if you have a complex
												assignment or subject. You can always check the status of your order,
												including if a writer was assigned, on your <a
													href="/login-user">personal account</a>.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Where is my writer from?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												We employ writers from all over the world, varying from ENL (English as
												a native language) to ESL (English as a second language) experts with a
												strong command of English. We thoroughly test each of them before
												hiring, so you can be sure of your paper’s quality, even if it is
												completed by an ESL writer. Thus, you can choose from:
											</p>
											<ul>
												<li>Best available writers—experts in your field who can complete a
													paper of the requested type and academic level;</li>
												<li>Advanced specialists—writers with greater experience who also deal
													with more complex tasks and disciplines;</li>
												<li>Top-10 writers—the specialists with the highest ratings from our
													previous customers who will help you get the most out of your paper.
												</li>
											</ul>
											<p>You can also request one of our native English speaking experts to make
												your assignment close to perfect. Simply add the ENL option to the Best
												available and Advanced categories.</p>
										</div>
									</div>
								</div>
							</li>


							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Can I request to add slides and charts
									to my paper?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												Yes, you can. If your paper needs graphic representation, we can make
												additional slides and charts that support written material. Slides and
												charts will cost you half the price of a page, which also depends on the
												complexity and academic level of your paper.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Can you send me the copy of sources
									cited in my paper?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												This option is available on our website. We can send you excerpts from
												articles, books, and more used in your paper by paying an extra $14.95
												or 10% of your base order price if it exceeds $149.50.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Can my paper be delivered earlier?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												If you need to get your paper earlier than the deadline, please contact
												our support service. We will see what can be done in your particular
												case. If your paper can be delivered earlier, we will send you a payment
												link for the urgency.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Do I pay for any revisions of my paper?
									<span class="Accordion__item__close"></span>
								</h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												You can request a free revision at any point before approving your final
												paper or during the 7 days after approving the paper. A free revision is
												only possible to make your paper complies with the original instructions
												you set while placing the order. To ask for a free revision, always use
												the revision button on your personal order page.
											</p>
											<p>If you have any extra requirements or need to rewrite the entire paper or
												large parts of it, you will have to pay an extra fee for such a
												revision. Please, contact our support service to calculate the cost of
												the revision your paper may need.</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">What is the Progressive Delivery option
									and how does it work?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												Progressive Delivery is a reliable feature, designed specifically for
												aiding extended orders. Such academic works as theses, dissertations,
												capstone projects, etc. can be delivered to you in parts as the writer
												progresses. This option adds 10% extra cost to your order price. If you
												want to pay for your paper in parts, you can contact our support team
												before completing the order form to arrange a payment plan for you. Here
												are some of the benefits you get by using the Progressive Delivery
												service:
											</p>
											<ul>
												<li>Pay for your order in instalments.</li>
												<li>Maintain close communication with your writer.</li>
												<li>Receive the thesis/dissertation part by part or even chapter by
													chapter.</li>
												<li>Plan and schedule your academic work in advance.</li>
											</ul>
											<p>Progressive Delivery works as follows:</p>
											<ol>
												<li>You place an order and we set up a Progressive Delivery and payment
													plan for you.</li>
												<li>We assign the most qualified writer to start working on your order.
												</li>
												<li>The writer delivers each part of the order by the deadline,
													specified in the schedule.</li>
												<li>You review and comment on each fragment after it is completed by the
													writer.</li>
												<li>Each part can be revised according to your comments while the writer
													continues working on the next part of your order.</li>
												<li>You can download a completed paper.</li>
											</ol>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">What is my personal account? How does
									it work?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												Your <a href="/login-user"> personal account</a> is the
												page, where you can track the progress of your orders, upload any
												additional materials, and communicate both with your writer and support
												manager. For your convenience, it contains:
											</p>
											<ol>
												<li><strong>Your Orders</strong> tab. Here, you can track your order
													history with DoMyAssignments.com and view the list of all your
													current and finished or canceled projects.</li>
												<li><strong>New Order</strong> tab, where you can submit a new paper
													request.</li>
												<li><strong>Profile</strong> section, which contains your personal
													information and allows you to change your password if needed.</li>
											</ol>
											<p>By clicking on the order you’ve placed, you will be able to view its
												details in the <strong>Info</strong> tab and use the
												<strong>Messages</strong> tab to communicate with your writer or support
												manager.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">When will my custom paper be done?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>While placing an order with DoMyAssignments.com, you can choose a period
												of time within which a paper should be delivered to you. The countdown
												until the specified deadline starts automatically from the moment we
												receive your payment in our system. For example, if you pay for your
												order at 6pm on Monday and choose a 3-day delivery option, you will
												receive your custom paper by 6pm on Thursday.
											</p>
											<p>Remember that a writer needs a sufficient amount of time in order to
												conduct thorough research. Therefore, please choose the most suitable
												deadline when you place an order. Moreover, the later you need your
												paper to be delivered to you, the cheaper it will be. Thus, you will be
												able to save your money while your writer will have enough time to work
												on your order and ensure its quality.</p>
											<p>Make sure you upload all the additional materials at the very beginning.
												If you fail to do that, the deadline for your order will be postponed as
												well. </p>
											<p>In case you choose the Progressive Delivery option, you will get an
												individual delivery schedule that will be followed by the writer
												assigned to your project. You can read more about this service in the
												relevant section of this FAQ.</p>

										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">Can my paper be delivered earlier by X
									hours?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												On your order page, you can request a number of on-demand options,
												including the possibility to shorten your deadline. Note that you will
												be charged additionally according to the new delivery time chosen.
												Before ordering this option, you may check how the price will change in
												our calculator.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How will I receive my paper?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												As soon as your assigned writer completes your paper, you will get a
												notification via email with a link to your <a
													href="/login-user">personal account</a>. However, if
												your deadline is very short or expires soon, you’d better check the
												order’s progress in your account yourself in order to avoid any
												misunderstandings. Please note that we do not send files by email. The
												only way you can download and review your custom paper is by accessing
												it from your personal account on our website.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How can I download a printable
									Microsoft Word version?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												You will be able to download a printable Microsoft Word file after you
												approve the preview PDF version. The file will be located in the
												<strong>Files</strong> tab of your <a
													href="/login-user">personal account</a> and you will
												be able to access it by pressing the <strong>Download File</strong>
												button.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">What if I forgot my password?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												When placing your first order with DoMyAssignments.com, you will need to
												create your personal password. If you have forgotten it while submitting
												a new order, please follow the <strong>Forgot password</strong> link on
												the login form, enter your email, and set a new password. After that,
												you’ll get an email with an activation link. By following this link,
												you’ll be able to access your account with an updated password.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">I want to cancel my order. How can I do
									this?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												If for some reason you need to cancel an order you’ve placed, you can
												contact our support team, as we consider each case individually. Please
												note that in some cases, you will get only partial compensation of your
												payment. To find out more about a refund after a cancellation, check our
												<a>money-back guarantee</a>.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">How can I receive a refund?<span
										class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												You can certainly get your money back in several cases. You can receive
												a full refund if you have paid for your order twice or if you have
												placed two identical orders. In case your paper was late or the quality
												of the paper does not correspond to your expectations, you will get
												compensation for these issues. You can find more details about possible
												types and terms of refunds on our official <a>money-back guarantee</a> page.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">What if I don’t like my custom paper?
									Can I ask for a revision?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												In case your assignment needs to be changed, you can request a revision
												from the <strong>Files</strong> tab of your <a
													href="/login-user">personal account</a>. To do this,
												send your comments to your writer and state how much time he or she has
												to incorporate all the necessary changes. Please check our <a>revisions policy</a> for more
												information.
											</p>
										</div>
									</div>
								</div>
							</li>

							<li class="Accordion__item">
								<h3 class="toggle-link Accordion__item__heading">I haven’t received my custom paper by
									the deadline. What should I do?<span class="Accordion__item__close"></span></h3>

								<div class="Accordion__item__body" style="height: 0px;">
									<div class="toggle-content Accordion__item__content">
										<div class="calculate-height">
											<p>
												Let us know immediately about that. You can do it by writing a message
												on your order page, entering a live chat, or calling us. Our support
												manager will carefully examine your order and will assist you with it
												right away. The reasons for late delivery may vary from time to time. It
												can happen that you have entered a wrong email address or your spam
												filter does not allow you to receive emails from us. It is also possible
												that the writer is waiting for your reply and can not continue working
												without your assistance, or we are checking the work for plagiarism.
												Whatever the case may be, contact us if you have any problems with
												getting your order on time.
											</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>


		<div class="section section-cta section-cta--type-orange decor-2" data-observed-bg>
			<div class="container">
				<div class="section-cta__inner">
					<img src="/images/main-landing-page-images/redesign/decorations/img_paper.svg" width="73" height="89"
						alt="Decorative picture" loading="lazy">
					<h5>Your “all-nighters” are over!</h5>
					<p>Get a custom assignment sample and complete your paper quickly!</p>
					<a rel="nofollow" href="/form"
						class="btn btn--black-white">Place an order</a>
				</div>
			</div>
		</div>

		<%- include("../../partials/services-container.ejs") %>
		<%- include("../../partials/footer.ejs") %>

		<!-- FOOTER -->
	
		<!-- END FOOTER -->


		<script>
			var scriptsArray = ["\/js\/cookie-dialog.bcf194b3a41f3dcdf706.js", "#\/js\/frequently-asked-questions-9a8b795a.183e4c27b59d383c6428.js", "#\/js\/frequently-asked-questions-9acf4d28.e45363db0ccc9a43ca4c.js", "\/js\/frequently-asked-questions-b1e621c0.4a6687625355505bedbd.js"];

			var body = document.getElementsByTagName('body')[0];
			window.addEventListener('load', function () {
				for (var scriptLink in scriptsArray) {
					var scriptEl = document.createElement('script');
					scriptEl.async = true;
					scriptEl.src = scriptsArray[scriptLink];
					body.appendChild(scriptEl);
				}
			});


			document.addEventListener('DOMContentLoaded', () => {
				const headers = document.querySelectorAll('.Accordion__item__heading');

				headers.forEach(header => {
					const body = header.nextElementSibling;

					// Set initial state
					body.style.height = '0px';
					header.classList.add('plus');
					header.classList.remove('minus');

					header.addEventListener('click', () => {
						if (body.style.height === '0px' || body.style.height === '') {
							// Expand
							body.style.height = `${body.scrollHeight}px`;
							body.classList.add('expanded');
							header.classList.add('minus');
							header.classList.remove('plus');
						} else {
							// Collapse
							body.style.height = '0px';
							body.classList.remove('expanded');
							header.classList.add('plus');
							header.classList.remove('minus');
						}
					});
				});
			});

		</script>



		<script>!function (a) { "use strict"; var b = function (b, c, d) { function e(a) { return h.body ? a() : void setTimeout(function () { e(a) }) } function f() { i.addEventListener && i.removeEventListener("load", f), i.media = d || "all" } var g, h = a.document, i = h.createElement("link"); if (c) g = c; else { var j = (h.body || h.getElementsByTagName("head")[0]).childNodes; g = j[j.length - 1] } var k = h.styleSheets; i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () { g.parentNode.insertBefore(i, c ? g : g.nextSibling) }); var l = function (a) { for (var b = i.href, c = k.length; c--;)if (k[c].href === b) return a(); setTimeout(function () { l(a) }) }; return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this); !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);</script>
</body>

</html>