<!doctype html>
  <html lang="en" prefix="og: http://ogp.me/ns#">

  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
	<title>GRADE Guarantees Only High Quality</title>
	<meta  charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="description" content="All our customers are protected by our Money Back Guarantee, Revision Policy, Privacy Policy, Plagiarism-Free Guarantee, Terms of Use and GRADE values.">

<!-- <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="shortcut icon" href="favicon.ico">
<link rel="manifest" href="site.webmanifest">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffbe21">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<link rel="preconnect" href="https://www.gstatic.com/" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> -->

  
<style>
	html:before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		background-color: rgba(16, 8, 3, 0);
		z-index: 2
	}

	@media (min-width:768px) {
		html:before {
			display: block
		}
	}

	@media (min-width:1024px) {
		html:before {
			display: none
		}
	}

	.Header {
		position: sticky;
		top: 0;
		z-index: 20;
		padding: 0 24px;
		background-color: #2d2d2c
	}

	.Header {
		-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
		box-shadow: 0 15px 40px rgba(16, 8, 3, .08)
	}

	.Header .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px
	}

	@media (min-width:1024px) {
		.Header .container {
			-webkit-box-shadow: 0 -1px 0 0 #535353 inset;
			box-shadow: inset 0 -1px 0 0 #535353
		}
	}

	.Header__logo,
	.Header__logo--white-text {
		position: relative;
		max-width: 203px;
		z-index: 2;
		display: none
	}

	@media (min-width:1024px) {

		.Header__logo,
		.Header__logo--white-text {
			max-width: 234px
		}
	}

	.Header__logo--white-text {
		display: inline-block
	}

	.Header__burger {
		position: relative;
		width: 24px;
		height: 19px;
		background: none;
		border: 0;
		cursor: pointer;
		z-index: 2
	}

	@media (min-width:1024px) {
		.Header__burger {
			display: none
		}
	}

	.Header__burger span {
		display: block;
		width: 100%;
		height: 3px;
		background-color: #fff;
		border-radius: 3px;
		will-change: transform
	}

	.Header__burger span:first-child {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px)
	}

	.Header__burger span:last-child {
		-webkit-transform: translateY(6px);
		transform: translateY(6px)
	}

	.Header__menu {
		visibility: hidden;
		position: fixed;
		top: 78px;
		right: -100%;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		width: 100%;
		height: calc(100vh - 78px);
		padding: 8px 24px 30px;
		background-color: #fff;
		overflow-y: auto;
		-webkit-box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
		box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
		will-change: transform
	}

	@media (min-width:768px) {
		.Header__menu {
			width: 370px;
			right: -370px;
			padding: 8px 24px 30px;
			margin-left: auto
		}
	}

	@media (min-width:1024px) {
		.Header__menu {
			position: static;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			background-color: transparent;
			-webkit-box-shadow: none;
			box-shadow: none;
			padding: 0;
			width: auto;
			height: auto;
			visibility: visible;
			-webkit-transform: translateX(0);
			transform: translateX(0);
			overflow: visible
		}
	}

	.Header__menu-list {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none
	}

	@media (min-width:1024px) {
		.Header__menu-list {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: end;
			-ms-flex-align: end;
			align-items: flex-end;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between
		}
	}

	@media (min-width:1024px) {
		.Header__menu-list li a {
			color: #fff
		}
	}

	.Header__menu-list>li {
		position: relative;
		margin-bottom: 0
	}

	.Header__menu-list>li+li {
		border-top: 1px solid #acacac
	}

	@media (min-width:1024px) {
		.Header__menu-list>li+li {
			margin-left: 15px;
			border-top: 0
		}
	}

	@media (min-width:1200px) {
		.Header__menu-list>li+li {
			margin-left: 28px
		}
	}

	.Header__menu-list>li.Header__menu-list-item-order {
		border-top: 0;
		padding-top: 16px
	}

	@media (min-width:1024px) {
		.Header__menu-list>li.Header__menu-list-item-order {
			display: none
		}
	}

	.Header__menu-list>li.Header__menu-list-item-order .btn--order-now {
		display: inline-block;
		padding: 12px 28px;
		width: auto
	}

	.Header__menu-list a {
		display: block;
		font-size: .875rem;
		font-weight: 600;
		color: #100803;
		padding: 16px 0;
		border-bottom: .125em solid transparent;
		-webkit-box-shadow: 0 .071em 0 transparent;
		box-shadow: 0 .071em 0 transparent;
		text-decoration: none
	}

	@media (min-width:1024px) {
		.Header__menu-list a {
			display: inline;
			padding: 0
		}
	}

	.Header__user-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: auto
	}

	@media (min-width:1024px) {
		.Header__user-box {
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			margin-left: 7px;
			padding-left: 8px
		}
	}

	@media (min-width:1200px) {
		.Header__user-box {
			margin-left: 14px;
			padding-left: 14px
		}
	}

	.Header__user-box .btn--manage-order {
		white-space: nowrap;
		padding: 0 0 0 36px;
		margin-right: 20px;
		width: 38px;
		height: 38px;
		-webkit-box-shadow: 0 0 1px 1px #585655;
		box-shadow: 0 0 1px 1px #585655;
		border-radius: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0
	}

	@media (min-width:1024px) {
		.Header__user-box .btn--manage-order {
			-webkit-box-shadow: none;
			box-shadow: none;
			padding: 0;
			margin-right: 28px;
			width: auto;
			height: auto;
			border: 0;
			border-radius: 0;
			overflow: visible;
			border-bottom: .125em solid transparent;
			color: #fff
		}
	}

	.Header__user-box .btn--manage-order:before {
		content: "";
		width: 17px;
		height: 17px;
		margin-right: 10px;
		background: url(images/ico_manage-orders.svg) 50% no-repeat;
		background-size: contain
	}

	@media (max-width:1024px) {
		.Header__user-box .btn--manage-order:before {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto
		}
	}

	.Header__user-box .btn--order-now {
		display: none;
		padding: 12px 28px
	}

	@media (min-width:1024px) {
		.Header__user-box .btn--order-now {
			display: block
		}
	}

	.Tabs__content__item {
		display: none;
		width: 100%
	}

	body {
		line-height: 1.4
	}

	[data-notify-widget] {
		display: block !important
	}

	@font-face {
		font-family: Bebas Neue;
		font-style: normal;
		font-weight: 400;
		font-display: swap
	}

	@font-face {
		font-family: Bebas Neue;
		font-style: normal;
		font-weight: 400;
		font-display: swap
	}

	@font-face {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 400;
		font-display: swap
	}

	@font-face {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 400;
		font-display: swap
	}

	@font-face {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-display: swap
	}

	@font-face {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-display: swap
	}

	@font-face {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-display: swap
	}

	@font-face {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-display: swap
	}

	*,
	:after,
	:before {
		margin: 0;
		padding: 0;
		outline: none;
		box-sizing: border-box
	}

	body,
	html {
		-webkit-tap-highlight-color: transparent;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		scroll-behavior: smooth
	}

	body {
		background-color: #fff;
		font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
		color: #100803;
		line-height: 1.6;
		font-size: 14px;
		font-weight: 400;
		word-wrap: break-word;
		margin: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility
	}

	@media (min-width:1024px) {
		body {
			line-height: 1.7
		}
	}

	img {
		height: auto;
		vertical-align: top
	}

	iframe,
	img {
		max-width: 100%
	}

	.page-wrapper {
		position: relative
	}

	.section {
		padding: 40px 24px
	}

	@media (min-width:1024px) {
		.section {
			padding: 110px 24px
		}
	}

	.section__subtitle {
		font-weight: 500;
		font-size: 15px;
		line-height: 1.5
	}

	@media (min-width:1024px) {
		.section__subtitle {
			font-size: 16px
		}
	}

	.container {
		width: 100%
	}

	@media (min-width:1024px) {
		.container {
			max-width: 1220px;
			margin-left: auto;
			margin-right: auto
		}
	}

	.breadcrumbs .wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: 18px;
		padding: 0;
		font-size: 12px;
		line-height: 24px;
		color: #acacac
	}

	@media (min-width:480px) {
		.breadcrumbs .wrap {
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			margin-bottom: 24px
		}
	}

	.breadcrumbs .wrap li {
		margin-bottom: .5rem
	}

	@media (min-width:1024px) {
		.breadcrumbs .wrap li {
			margin-bottom: 1rem
		}
	}

	.breadcrumbs .wrap li+li {
		position: relative;
		margin-left: 56px
	}

	.breadcrumbs .wrap li+li:before {
		content: "";
		width: 1rem;
		height: 1px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -36px;
		background-color: #ffb806;
		margin: auto
	}

	.breadcrumbs .wrap li>span {
		white-space: nowrap
	}

	.breadcrumbs a {
		color: #fff;
		border-bottom: .125em solid transparent;
		-webkit-box-shadow: 0 .071em 0 #585655;
		box-shadow: 0 .071em 0 #585655;
		text-decoration: none;
		white-space: nowrap
	}

	.h1,
	h1 {
		font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
		font-size: 40px;
		line-height: 1.15;
		font-weight: 400;
		text-transform: uppercase
	}

	@media (min-width:1024px) {

		.h1,
		h1 {
			font-size: 74px
		}
	}

	h3 {
		font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
		font-size: 20px;
		line-height: 1.4;
		font-weight: 500;
		margin-bottom: 8px
	}

	@media (min-width:1024px) {
		h3 {
			font-size: 28px;
			line-height: 40px
		}
	}

	h5 {
		font-size: 16px;
		line-height: 1.4;
		font-weight: 600;
		margin-bottom: 8px
	}

	.section-top-landing {
	    background-color: #06234A;
	    background-image: url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark_thin.svg), url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark-004_wide.svg);
	    background-size: 13px, 39px, 20px, 128px;
	    background-repeat: no-repeat;
	    background-position: right -2px top 49px, right -3px top 55px, left 17px bottom 26px, left -54px top 88px;
	    padding-top: 1rem;
	    padding-bottom: 70px;
	    position: relative;
	}

	@media (min-width:1024px) {
		h5 {
			font-weight: 500;
			font-size: 24px
		}
	}

	.btn {
		display: inline-block;
		font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		overflow: hidden;
		position: relative;
		vertical-align: top;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 14px 48px;
		border: 0;
		border-radius: 4px
	}

	.btn {
		text-decoration: none
	}

	.btn--orange {
		background-color: #ffb806;
		color: #100803
	}

	select {
		font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
		color: #100803;
		border: 1px solid #dedede;
		background-color: #fff;
		border-radius: 4px;
		vertical-align: middle;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 16px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.1;
		width: 100%
	}

	select::-ms-expand {
		display: none
	}

	a {
		color: #100803;
		text-decoration: none
	}

	.link-animated {
		display: inline-block;
		position: relative;
		font-weight: 600;
		color: #100803;
		padding: 10px 0 10px 66px;
		white-space: nowrap
	}

	.link-animated:before {
		width: 30px;
		height: 30px;
		top: 0;
		left: 16px;
		border: 1px solid #ffb806;
		border-radius: 2px;
		-webkit-box-shadow: 0 15px 40px rgba(255, 184, 6, .08);
		box-shadow: 0 15px 40px rgba(255, 184, 6, .08);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg)
	}

	.link-animated:after,
	.link-animated:before {
		content: "";
		position: absolute;
		bottom: 0;
		margin: auto
	}

	.link-animated:after {
		width: 36px;
		height: 9px;
		top: 1px;
		right: calc(100% - 34px);
		background: 100% no-repeat;
		background-size: 36px 9px
	}

	.section-top-landing {
        background-position: left -173px top 922px, left -6px top 241px, left -126px top 48px, right 346px top 112px, right 341px top 125px, right -4.5rem top 60px, 0 0;
        background-size: 433px, 32px, 214px, 26px, 80px, 510px, cover;
        padding-top: 1.5rem;
        position: relative;
        padding-bottom: 112px;
        min-height: 300px;
		background-color: #06234A !important;
    }

	@media (min-width: 1024px) {
    	.section-top-landing {
        	background-image: url(/images/redesign/decorations/img_circles-white_wide.svg), url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark-004_wide.svg), url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark_thin.svg), url(/images/redesign/decorations/img_circle-additional-dark-016_wide.svg), repeating-linear-gradient(#06234A, #06234A 707px, #06234A 0, #f8f8f8 0, #f8f8f8);
        	background-position: left -173px top 922px, left -6px top 241px, left -126px top 48px, right 346px top 112px, right 341px top 125px, right -4.5rem top 60px, 0 0;
        	background-size: 433px, 32px, 214px, 26px, 80px, 510px, cover;
        	padding-top: 1.5rem;
        	position: relative;
        	padding-bottom: 112px;
        	min-height: 300px;
			background-color: #06234A !important;
    	}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none
	}

	ul li {
		margin-bottom: 1rem
	}

	p {
		margin-bottom: 1em
	}

	.types-of-services .select-wrapper {
		position: relative;
		margin: 6px 0 12px
	}

	.types-of-services .select-wrapper:last-of-type {
		margin-bottom: 1rem
	}

	@media (min-width:1024px) {
		.types-of-services .select-wrapper:last-of-type {
			margin-bottom: 1.5rem
		}
	}

	.types-of-services .select-wrapper:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		right: 17px;
		bottom: 0;
		pointer-events: none;
		border-color: #100803 transparent transparent;
		border-style: solid;
		border-width: 8px 6px 0;
		border-radius: 2px;
		margin: auto
	}

	.types-of-services label {
		font-size: 16px;
		line-height: 20px;
		color: rgba(16, 8, 3, .6)
	}

	.types-of-services__wrapper h5 {
		margin-bottom: 1rem
	}

	@media (min-width:1024px) {
		.types-of-services__wrapper h5 {
			margin-bottom: 1.5rem
		}
	}

	.types-of-services .service-form__btn {
		padding: 20px;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}

	@media (min-width:1024px) {
		.types-of-services .service-form__btn {
			background-color: #100803;
			color: #fff
		}
	}

	.section-top-landing {
		background-color: #2d2d2c;
		background-size: 13px, 39px, 20px, 128px;
		background-repeat: no-repeat;
		background-position: right -2px top 49px, right -3px top 55px, left 17px bottom 26px, left -54px top 88px;
		padding-top: 1rem;
		padding-bottom: 70px;
		position: relative
	}

	@media (min-width:1024px) {
		.section-top-landing {
			background-position: left -173px top 922px, left -6px top 241px, left -126px top 48px, right 346px top 112px, right 341px top 125px, right -4.5rem top 60px, 0 0;
			background-size: 433px, 32px, 214px, 26px, 80px, 510px, cover;
			padding-top: 1.5rem;
			position: relative;
			padding-bottom: 112px;
			min-height: 300px;
			background-color: #06234A;
		}
	}

	.section-top-landing:after {
		content: "";
		position: absolute;
		bottom: -23px;
		right: 0;
		height: 43px;
		width: 88px;
		background: url(images/ico_dottes.svg) 50%/contain no-repeat
	}

	@media (min-width:1024px) {
		.section-top-landing:after {
			bottom: -5rem;
			right: 30px;
			height: 156px;
			width: 97px;
			background: url(images/redesign/decorations/img_circles-yellow.svg) 50%/contain no-repeat;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg)
		}
	}

	.section-top-landing__heading {
		max-width: 43.1rem;
		margin: 0 auto;
		text-align: center
	}

	.section-top-landing__heading__title {
		color: #fff
	}

	.section-top-landing__heading .section__subtitle {
		color: #dedede
	}

	.section-guarantees-page .guarantees-list {
		display: grid;
		grid-row-gap: 36px;
		row-gap: 36px
	}

	@media (min-width:1024px) {
		.section-guarantees-page .guarantees-list {
			grid-row-gap: 44px;
			row-gap: 44px
		}
	}

	.section-guarantees-page .guarantees-list__item {
		margin-bottom: 0
	}

	@media (min-width:1024px) {
		.section-guarantees-page .guarantees-list__item {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			border-radius: 4px;
			padding-left: 20px
		}

		.section-guarantees-page .guarantees-list__item:before {
			font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			color: hsla(0, 0%, 87.1%, .5);
			font-size: 172px;
			font-weight: 500;
			-webkit-box-ordinal-group: 2;
			-ms-flex-order: 1;
			order: 1;
			margin-right: 28px;
			line-height: 1
		}
	}

	@media (min-width:1200px) {
		.section-guarantees-page .guarantees-list__item {
			padding-left: 70px
		}

		.section-guarantees-page .guarantees-list__item:before {
			margin-right: 78px
		}
	}

	@media (min-width:1024px) {
		.section-guarantees-page .guarantees-list__item--money-back:before {
			content: "01"
		}
	}

	@media (min-width:1024px) {
		.section-guarantees-page .guarantees-list__item--authenticity:before {
			content: "02"
		}
	}

	.section-guarantees-page .guarantees-list__content {
		width: 100%
	}

	@media (max-width:1024px) {
		.section-guarantees-page .guarantees-list__content {
			margin: 0 auto;
			max-width: 480px
		}
	}

	@media (min-width:1024px) {
		.section-guarantees-page .guarantees-list__content {
			-webkit-box-ordinal-group: 3;
			-ms-flex-order: 2;
			order: 2;
			max-width: 380px
		}
	}

	.section-guarantees-page .guarantees-list__img-container {
		border-radius: 4px;
		border: 1px solid #100803;
		max-width: 480px;
		margin: 0 auto;
		width: 100%;
		min-width: 312px;
		height: 192px;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover
	}

	@media (max-width:1023px) {
		.section-guarantees-page .guarantees-list__img-container {
			margin-bottom: 1rem
		}
	}

	@media (min-width:1024px) {
		.section-guarantees-page .guarantees-list__img-container {
			width: 350px;
			height: 277px;
			-webkit-box-ordinal-group: 4;
			-ms-flex-order: 3;
			order: 3;
			margin-left: auto;
			margin-right: 0
		}
	}

	@media (min-width:1200px) {
		.section-guarantees-page .guarantees-list__img-container {
			width: 450px
		}
	}

	@media (max-width: 768px) {
		.section-top-landing {
		    background-image: none;
		    margin-top: 99px;
		}
	}

	.link-animated:before {
	    width: 30px;
	    height: 30px;
	    top: 0;
	    left: 16px;
	    border: 1px solid #06234A;
	    border-radius: 2px;
	    -webkit-box-shadow: 0 15px 40px rgba(255, 184, 6, .08);
	    box-shadow: 0 15px 40px rgba(255, 184, 6, .08);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-transition: background-color .3s ease;
	    transition: background-color .3s ease;
	}

</style>

	<link href="./css/main/footer-related-links-css/guarantees-9a8b795a.2c739c2c1a725c261975.css" rel="preload" as="style" media="all" onload="this.rel='stylesheet'" />
	<noscript><link rel="stylesheet" href="./css/main/footer-related-links-css/guarantees-9a8b795a.2c739c2c1a725c261975.css"></noscript>

	<link href="./css/main/footer-related-links-css/guarantees-9acf4d28.e6da842afdd9831e7bb8.css" rel="preload" as="style" media="all" onload="this.rel='stylesheet'" />
	<noscript><link rel="stylesheet" href="./css/main/footer-related-links-css/guarantees-9acf4d28.e6da842afdd9831e7bb8.css"></noscript>

	<link href="./css/main/footer-related-links-css/guarantees-5fdd34ee.78c505cc03f09507e1eb.css" rel="preload" as="style" media="all" onload="this.rel='stylesheet'" />
	<noscript><link rel="stylesheet" href="./css/main/footer-related-links-css/guarantees-5fdd34ee.78c505cc03f09507e1eb.css"></noscript>

	<link href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css" rel="preload" as="style" media="all" onload="this.rel='stylesheet'" />
	<noscript><link rel="stylesheet" href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css"></noscript>

</head>

<body>

<div data-notify-widget class="NotifyWidget-banner"></div>

<div class="page-wrapper ">
  
<!-- HEADER -->

<%- include("../../partials/header.ejs") %>
<%- include("../../partials/whatsapp-contact.ejs") %>  
<%- include("../../partials/cursor-effect.ejs") %>	

<!-- END HEADER -->


<div class="section section-top-landing" style="background-color: #06234A !important;">
	<div class="container">
    <div class="section-top-landing__inner">
      <div class="breadcrumbs"><ul class="wrap clearfix" itemscope itemtype="http://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a  itemprop="item" href ="/"><span itemprop="name">Do Task For Me</span></a><meta itemprop="position" content="1"/></li><li  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">Guarantees</span><meta itemprop="position" content="2"/></li></ul></div>      <div class="section-top-landing__heading">
        <h1 class="h1 section-top-landing__heading__title">
          Guarantees        </h1>
                  <p class="section__subtitle">Check out our ultimate guarantees that safeguard your satisfaction.</p>
              </div>
    </div>
  </div>
</div>

<div class="section section-guarantees-page">
	<div class="container">
		<ul class="guarantees-list list--clean">
			<li class="guarantees-list__item guarantees-list__item--money-back">
				<div class="guarantees-list__img-container load-bg" data-observed-bg=""></div>

				<div class="guarantees-list__content">
					<h3>Money-back guarantee</h3>
					<p class="guarantees__text">We return 100% of your sum if you cancel your order before we start working on it. Our managers determine a fair percentage to refund for other cases.</p>
					<a href="/money-back-guarantee" rel="nofollow" class="link-animated guarantees__link load-bg" data-observed-bg="">Read our Money Back Guarantee</a>
				</div>
			</li>
			<li class="guarantees-list__item guarantees-list__item--authenticity">
				<div class="guarantees-list__img-container load-bg" data-observed-bg=""></div>

				<div class="guarantees-list__content">
					<h3>Zero plagiarism</h3>
					<p class="guarantees__text">We complete every order from scratch, citing all the materials used appropriately. We also digitally check each file before sending it to you.</p>
					<a href="/plagiarism-free" rel="nofollow" class="link-animated guarantees__link load-bg" data-observed-bg="">Read our Plagiarism-Free Guarantee</a>
				</div>
			</li>
      <li class="guarantees-list__item guarantees-list__item--ai">
        <div class="guarantees-list__img-container load-bg" data-observed-bg=""></div>
        <div class="guarantees-list__content">
          <h3>No AI-generated content</h3>
          <p class="guarantees__text">
            We provide only human-written educational materials, double-scanned with our own AI-detection software before delivery.
          </p>
          <p class="guarantees__text guarantees__text--disclaimer">
            <b>Disclaimer:</b> None of the existing AI detectors guarantee the 100% accuracy of the result. All of them have a profile of false positives and limitations, which may affect the final percentage of probability. That is why every AI-detection report is a subject of human interpretation rather than a final conclusion.
          </p>
        </div>
      </li>
			<li class="guarantees-list__item guarantees-list__item--confidentiality">
				<div class="guarantees-list__img-container load-bg" data-observed-bg=""></div>

				<div class="guarantees-list__content">
					<h3>Confidentiality</h3>
					<p class="guarantees__text">We need your email to send you the finished work promptly. We never disclose this information publicly, so you can feel safe with us.</p>
					<a href="/privacy-policy" rel="nofollow" class="link-animated guarantees__link load-bg" data-observed-bg="">Read our Privacy Policy</a>
				</div>
			</li>
			<li class="guarantees-list__item guarantees-list__item--free-revisions">
				<div class="guarantees-list__img-container load-bg" data-observed-bg=""></div>

				<div class="guarantees-list__content">
					<h3>Free edits</h3>
					<p class="guarantees__text">We prioritize your instructions, so we fix the papers that don’t follow guidelines for free. Our experts strive to complete the revision ASAP.</p>
					<a href="/revision-policy" rel="nofollow" class="link-animated guarantees__link load-bg" data-observed-bg="">Read our Revision Policy</a>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="section">
	<div class="container">
    
<div class="Tabs types-of-services" data-type-of-services>
	<div class="Tabs__nav types-of-services__tabs" role="tablist">
		<div class="Tabs__nav__item types-of-services__tabs__item tab-type-1" role="tab" data-tab-name="academic">
			<span>ACADEMIC WRITING</span>
		</div>

		<div class="Tabs__nav__item types-of-services__tabs__item tab-type-1" role="tab" data-tab-name="stem">
			<span>STEM ASSIGNMENT</span>
		</div>
	</div>
	<div class="types-of-services__wrapper">
		<div class="Tabs__content types-of-services__form-container">
			<form  action="" class="service-form academic" >
				<h5 class="services-form__title">We write any type of assignment in any discipline</h5>
				<label for="types-of-paper">Type of paper</label>
				<div class="select-wrapper">
					<select id="types-of-paper" data-defaultValue="77">
						<option value="2">Essay (any type)</option>
						<option value="13">Admission essay</option>
						<option value="53">Analysis (any type)</option>
						<option value="15">Annotated bibliography</option>
						<option value="16">Argumentative essays</option>
						<option value="14">Article review</option>
						<option value="77" selected>Assignment</option>
						<option value="71">Blog post</option>
						<option value="5">Book/movie review</option>
						<option value="11">Business plan</option>
						<option value="35">Capstone project</option>
						<option value="12">Case study</option>
						<option value="79">College essay</option>
						<option value="7">Coursework</option>
						<option value="1">Creative writing</option>
						<option value="18">Critical thinking</option>
						<option value="39">Discussion Essay</option>
						<option value="9">Dissertation/Dissertation chapter</option>
						<option value="75">Homework</option>
						<option value="73">Journal article</option>
						<option value="49">Lab Report</option>
						<option value="43">Literature Analysis/Review</option>
						<option value="45">Memo/Letter</option>
						<option value="51">Outline</option>
						<option value="63">Personal reflection</option>
						<option value="67">Poem</option>
						<option value="55">Presentation/PPT</option>
						<option value="65">Project</option>
						<option value="37">Question-Answer</option>
						<option value="59">Reflection paper/Reflection essay</option>
						<option value="57">Report (any type)/Brief report</option>
						<option value="3">Research paper</option>
						<option value="8">Research proposal</option>
						<option value="61">Response essay</option>
						<option value="4">Speech</option>
						<option value="41">Summary</option>
						<option value="6">Term paper</option>
						<option value="10">Thesis/Thesis chapter</option>
						<option value="64">Other</option>
					</select>
				</div>
				
				<label for="academic-level">Academic level</label>
				<div class="select-wrapper">
					<select id="academic-level" data-defaultValue="2">
						<option value="1" data-deadline="137533">High School</option>
						<option value="2" data-deadline="137549" selected="">Undergraduate
							(yrs.&nbsp;1-2)</option>
						<option value="3" data-deadline="137565">Undergraduate (yrs.&nbsp;3-4)</option>
						<option value="4" data-deadline="137583">Master's</option>
						<option value="5" data-deadline="137601">PhD</option>
					</select>
				</div>

				<a href="/form" class="btn btn--orange service-form__btn">
					Proceed to order form
				</a>
			</form>

			<form class=" stem service-form" role="tabform" data-tab-content="stem"
				tabindex="stem" novalidate>
				<h5 class="services-form__title">We write any type of assignment in any discipline</h5>

				<label for="types-of-services">Type of service</label>
				<div class="select-wrapper">
					<select id="types-of-services">
						<option value="46" data-stem-service="programming" selected>Programming</option>
						<option value="45" data-stem-service="calculations">Calculations</option>
					</select>
				</div>

				<label for="discipline">Discipline</label>
				<div class="select-wrapper">
					<select id="discipline" data-defaultValue="82">
						<option value="82">Web programming</option>
						<option value="83">Desktop applications development</option>
						<option value="84">Mobile applications development</option>
						<option value="85">Database design and optimization</option>
						<option value="86">Data analysis and reports</option>
						<option value="12">Computer science</option>
						<option value="88">3D CAD modeling</option>
						<option value="89">Algorithms</option>
					</select>
				</div>

				<a href="/form" class="btn btn--orange service-form__btn">
					Proceed to order form
				</a>
			</form>
		</div>
		<div class="types-of-services__description-container">
			<h5 style="color:#06234A;">How you can get you paper done super fast</h5>
			<ol class="list--order types-of-services__steps">
				<li>Fill out the order form.</li>
				<li>Pay for your assignment.</li>
				<li>Stay in touch with your expert.</li>
				<li>Download the finished work.</li>
			</ol>
			<!-- <img src="images/redesign/home/section-top/img_paper-section-top.jpg" alt="Paper image"
				width="70" height="86" class="types-of-services__description-img"> -->
		</div>
	</div>
</div>
</div>
</div>

<%- include("../../partials/services-container.ejs") %>
<%- include("../../partials/footer.ejs") %>
  
  <script>
    var scriptsArray = ["\/js\/cookie-dialog.bcf194b3a41f3dcdf706.js","#\/js\/guarantees-9a8b795a.327f3140d5c94edeece6.js","#\/js\/guarantees-9acf4d28.2773e16f5de954f15d5c.js","\/js\/guarantees-5fdd34ee.b10f94f4a092316901b1.js"];

    var body = document.getElementsByTagName('body')[0];
    window.addEventListener('load', function() {
      for (var scriptLink in scriptsArray) {
        var scriptEl = document.createElement('script');
        scriptEl.async = true;
        scriptEl.src = scriptsArray[scriptLink];
        body.appendChild(scriptEl);
      }
    });
  </script>
  <script>
	document.addEventListener('DOMContentLoaded', function () {
		// Get the tabs and forms
		const academicTab = document.querySelector('[data-tab-name="academic"]');
		const stemTab = document.querySelector('[data-tab-name="stem"]');
		const academicForm = document.querySelector('.service-form.academic');
		const stemForm = document.querySelector('.service-form.stem');

		// Function to show the academic form and hide the STEM form
		function showAcademicForm() {
			academicForm.style.display = 'block';
			stemForm.style.display = 'none';
			academicTab.classList.add('active-tab'); // Add active class for styling
			stemTab.classList.remove('active-tab');
		}

		// Function to show the STEM form and hide the academic form
		function showStemForm() {
			stemForm.style.display = 'block';
			academicForm.style.display = 'none';
			stemTab.classList.add('active-tab'); // Add active class for styling
			academicTab.classList.remove('active-tab');
		}

		// Add event listeners to the tabs
		academicTab.addEventListener('click', showAcademicForm);
		stemTab.addEventListener('click', showStemForm);

		// Set default state to show the academic form
		showAcademicForm(); // Initially show the academic form
	});
	document.addEventListener('DOMContentLoaded', () => {
		const headers = document.querySelectorAll('.Accordion__item__heading');

		headers.forEach(header => {
			const body = header.nextElementSibling;

			// Set initial state
			body.style.height = '0px';
			header.classList.add('plus'); // Add plus class by default

			header.addEventListener('click', () => {
				if (body.style.height === '0px' || body.style.height === '') {
					// Expand
					body.style.height = `${body.scrollHeight}px`;
					body.classList.add('expanded');
					header.classList.add('minus');
					header.classList.remove('plus');
				} else {
					// Collapse
					body.style.height = '0px';
					body.classList.remove('expanded');
					header.classList.add('plus');
					header.classList.remove('minus');
				}
			});
		});
	});


</script>

  <script>!function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this); !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(b){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);</script>
</body>
</html>
