<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
	<title>100% Money Back Guarantee if Not Satisfied</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="description"
		content="Place only safe 'do task for me - your task our expertise' orders. Our Money Back Guarantee gives you the right to request and receive a refund at any stage of your order.">

	<!-- <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffbe21">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<link rel="preconnect" href="https://www.gstatic.com/" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> -->

	<style>
		html:before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			display: none;
			background-color: rgba(16, 8, 3, 0);
			z-index: 2
		}

		@media (min-width:768px) {
			html:before {
				display: block
			}
		}

		@media (min-width:1024px) {
			html:before {
				display: none
			}
		}

		.Header {
			position: sticky;
			top: 0;
			z-index: 20;
			padding: 0 24px;
			background-color: #2d2d2c
		}

		.Header {
			-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			box-shadow: 0 15px 40px rgba(16, 8, 3, .08)
		}

		.Header .container {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px
		}

		@media (min-width:1024px) {
			.Header .container {
				-webkit-box-shadow: 0 -1px 0 0 #535353 inset;
				box-shadow: inset 0 -1px 0 0 #535353
			}
		}

		.Header__logo,
		.Header__logo--white-text {
			position: relative;
			max-width: 203px;
			z-index: 2;
			display: none
		}

		@media (min-width:1024px) {

			.Header__logo,
			.Header__logo--white-text {
				max-width: 234px
			}
		}

		.Header__logo--white-text {
			display: inline-block
		}

		.Header__burger {
			position: relative;
			width: 24px;
			height: 19px;
			background: none;
			border: 0;
			cursor: pointer;
			z-index: 2
		}

		@media (min-width:1024px) {
			.Header__burger {
				display: none
			}
		}

		.Header__burger span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: #fff;
			border-radius: 3px;
			will-change: transform
		}

		.Header__burger span:first-child {
			-webkit-transform: translateY(-6px);
			transform: translateY(-6px)
		}

		.Header__burger span:last-child {
			-webkit-transform: translateY(6px);
			transform: translateY(6px)
		}

		.Header__menu {
			visibility: hidden;
			position: fixed;
			top: 78px;
			right: -100%;
			-webkit-transform: translateX(0);
			transform: translateX(0);
			width: 100%;
			height: calc(100vh - 78px);
			padding: 8px 24px 30px;
			background-color: #fff;
			overflow-y: auto;
			-webkit-box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
			box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
			will-change: transform
		}

		@media (min-width:768px) {
			.Header__menu {
				width: 370px;
				right: -370px;
				padding: 8px 24px 30px;
				margin-left: auto
			}
		}

		@media (min-width:1024px) {
			.Header__menu {
				position: static;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
				-webkit-box-align: end;
				-ms-flex-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				background-color: transparent;
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 0;
				width: auto;
				height: auto;
				visibility: visible;
				-webkit-transform: translateX(0);
				transform: translateX(0);
				overflow: visible
			}
		}

		.Header__menu-list {
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none
		}

		@media (min-width:1024px) {
			.Header__menu-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: end;
				-ms-flex-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between
			}
		}

		@media (min-width:1024px) {
			.Header__menu-list li a {
				color: #fff
			}
		}

		.Header__menu-list>li {
			position: relative;
			margin-bottom: 0
		}

		.Header__menu-list>li+li {
			border-top: 1px solid #acacac
		}

		@media (min-width:1024px) {
			.Header__menu-list>li+li {
				margin-left: 15px;
				border-top: 0
			}
		}

		@media (min-width:1200px) {
			.Header__menu-list>li+li {
				margin-left: 28px
			}
		}

		.Header__menu-list>li.Header__menu-list-item-order {
			border-top: 0;
			padding-top: 16px
		}

		@media (min-width:1024px) {
			.Header__menu-list>li.Header__menu-list-item-order {
				display: none
			}
		}

		.Header__menu-list>li.Header__menu-list-item-order .btn--order-now {
			display: inline-block;
			padding: 12px 28px;
			width: auto
		}

		.Header__menu-list a {
			display: block;
			font-size: .875rem;
			font-weight: 600;
			color: #100803;
			padding: 16px 0;
			border-bottom: .125em solid transparent;
			-webkit-box-shadow: 0 .071em 0 transparent;
			box-shadow: 0 .071em 0 transparent;
			text-decoration: none
		}

		@media (min-width:1024px) {
			.Header__menu-list a {
				display: inline;
				padding: 0
			}
		}

		.Header__user-box {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-left: auto
		}

		@media (min-width:1024px) {
			.Header__user-box {
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				margin-left: 7px;
				padding-left: 8px
			}
		}

		@media (min-width:1200px) {
			.Header__user-box {
				margin-left: 14px;
				padding-left: 14px
			}
		}

		.Header__user-box .btn--manage-order {
			white-space: nowrap;
			padding: 0 0 0 36px;
			margin-right: 20px;
			width: 38px;
			height: 38px;
			-webkit-box-shadow: 0 0 1px 1px #585655;
			box-shadow: 0 0 1px 1px #585655;
			border-radius: 50%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0
		}

		@media (min-width:1024px) {
			.Header__user-box .btn--manage-order {
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 0;
				margin-right: 28px;
				width: auto;
				height: auto;
				border: 0;
				border-radius: 0;
				overflow: visible;
				border-bottom: .125em solid transparent;
				color: #fff
			}
		}

		.Header__user-box .btn--manage-order:before {
			content: "";
			width: 17px;
			height: 17px;
			margin-right: 10px;
			background: url(https://domyassignments.com/images/ico_manage-orders.svg) 50% no-repeat;
			background-size: contain
		}

		@media (max-width:1024px) {
			.Header__user-box .btn--manage-order:before {
				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto
			}
		}

		.Header__user-box .btn--order-now {
			display: none;
			padding: 12px 28px
		}

		@media (min-width:1024px) {
			.Header__user-box .btn--order-now {
				display: block
			}
		}

		body {
			line-height: 1.4
		}

		[data-notify-widget] {
			display: block !important
		}

		@font-face {
			font-family: Bebas Neue;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Bebas Neue;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 600;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 600;
			font-display: swap
		}

		*,
		:after,
		:before {
			margin: 0;
			padding: 0;
			outline: none;
			box-sizing: border-box
		}

		body,
		html {
			-webkit-tap-highlight-color: transparent;
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
			scroll-behavior: smooth
		}

		body {
			background-color: #fff;
			font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			color: #100803;
			line-height: 1.6;
			font-size: 14px;
			font-weight: 400;
			word-wrap: break-word;
			margin: 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility
		}

		@media (min-width:1024px) {
			body {
				line-height: 1.7
			}
		}

		img {
			height: auto;
			vertical-align: top
		}

		iframe,
		img {
			max-width: 100%
		}

		.page-wrapper {
			position: relative
		}

		.section {
			padding: 40px 24px
		}

		@media (min-width:1024px) {
			.section {
				padding: 110px 24px
			}
		}

		.container {
			width: 100%
		}

		@media (min-width:1024px) {
			.container {
				max-width: 1220px;
				margin-left: auto;
				margin-right: auto
			}
		}

		.breadcrumbs .wrap {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			list-style: none;
			margin-bottom: 18px;
			padding: 0;
			font-size: 12px;
			line-height: 24px;
			color: #acacac
		}

		@media (min-width:480px) {
			.breadcrumbs .wrap {
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				margin-bottom: 24px
			}
		}

		.breadcrumbs .wrap li {
			margin-bottom: .5rem
		}

		@media (min-width:1024px) {
			.breadcrumbs .wrap li {
				margin-bottom: 1rem
			}
		}

		.breadcrumbs .wrap li+li {
			position: relative;
			margin-left: 56px
		}

		.breadcrumbs .wrap li+li:before {
			content: "";
			width: 1rem;
			height: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -36px;
			background-color: #ffb806;
			margin: auto
		}

		.breadcrumbs .wrap li>span {
			white-space: nowrap
		}

		.breadcrumbs a {
			color: #fff;
			border-bottom: .125em solid transparent;
			-webkit-box-shadow: 0 .071em 0 #585655;
			box-shadow: 0 .071em 0 #585655;
			text-decoration: none;
			white-space: nowrap
		}

		.h1,
		h1 {
			font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 40px;
			line-height: 1.15;
			font-weight: 400;
			text-transform: uppercase
		}

		@media (min-width:1024px) {

			.h1,
			h1 {
				font-size: 74px
			}
		}

		.btn {
			display: inline-block;
			font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			overflow: hidden;
			position: relative;
			vertical-align: top;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 14px 48px;
			border: 0;
			border-radius: 4px
		}

		.btn {
			text-decoration: none
		}

		.btn--orange {
			background-color: #ffb806;
			color: #100803
		}

		a {
			color: #100803;
			text-decoration: none
		}

		.section-common-page__aside__menu-item a {
			border-bottom: 1px solid #dedede;
			text-decoration: none;
			font-weight: 500
		}

		.section-top-landing {
			background-color: #2d2d2c;
			background-size: 13px, 39px, 20px, 128px;
			background-repeat: no-repeat;
			background-position: right -2px top 49px, right -3px top 55px, left 17px bottom 26px, left -54px top 88px;
			padding-top: 1rem;
			padding-bottom: 70px;
			position: relative
		}

		@media (min-width:1024px) {
			.section-top-landing {
				background-position: left -173px top 922px, left -6px top 241px, left -126px top 48px, right 346px top 112px, right 341px top 125px, right -4.5rem top 60px, 0 0;
				background-size: 433px, 32px, 214px, 26px, 80px, 510px, cover;
				padding-top: 1.5rem;
				position: relative;
				padding-bottom: 112px;
				min-height: 300px
			}
		}

		.section-top-landing:after {
			content: "";
			position: absolute;
			bottom: -23px;
			right: 0;
			height: 43px;
			width: 88px;
			background: url(https://domyassignments.com/images/ico_dottes.svg) 50%/contain no-repeat
		}

		@media (min-width:1024px) {
			.section-top-landing:after {
				bottom: -5rem;
				right: 30px;
				height: 156px;
				width: 97px;
				background: url(https://domyassignments.com/images/redesign/decorations/img_circles-yellow.svg) 50%/contain no-repeat;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg)
			}
		}

		.section-top-landing__heading {
			max-width: 43.1rem;
			margin: 0 auto;
			text-align: center
		}

		.section-top-landing__heading__title {
			color: #fff
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none
		}

		ul li {
			margin-bottom: 1rem
		}

		.section-common-page {
			background-color: #fff;
			padding-top: 32px;
			margin-top: -85px;
			position: relative;
			z-index: 1
		}

		@media (min-width:1024px) {
			.section-common-page {
				padding-top: 0;
				margin-top: 0;
				position: static
			}
		}

		.section-common-page .container .h1 {
			margin-bottom: 14px;
			line-height: 1.1
		}

		@media (min-width:1024px) {
			.section-common-page .container .h1 {
				margin-bottom: 16px
			}
		}

		.section-common-page__inner {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;
			position: relative;
			z-index: 2
		}

		@media (min-width:1024px) {
			.section-common-page__inner {
				margin-top: -215px;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap
			}
		}

		.section-common-page__main {
			background-color: #fff;
			width: 100%;
			border-radius: 4px
		}

		@media (min-width:1024px) {
			.section-common-page__main {
				padding: 56px;
				-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
				box-shadow: 0 15px 40px rgba(16, 8, 3, .08)
			}
		}

		.section-common-page__aside {
			background-color: #fff;
			background-position: 100% 0;
			background-repeat: no-repeat;
			background-size: auto;
			width: 100%;
			border-radius: 4px;
			-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			margin-top: 34px;
			padding: 48px;
			position: relative
		}

		@media (min-width:1024px) {
			.section-common-page__aside {
				max-width: 311px;
				margin-left: 28px;
				margin-top: 0;
				position: sticky;
				top: 120px
			}
		}

		.section-common-page__aside:before {
			content: "";
			display: block;
			width: 39px;
			height: 42px;
			background: url(https://domyassignments.com/images/redesign/legal/img_circles.svg) 0 0/contain no-repeat;
			position: absolute;
			right: 9px;
			top: 73px
		}

		@media (min-width:1024px) {
			.section-common-page__aside:before {
				right: 17px
			}
		}

		.section-common-page__aside:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			border: 1px solid #585655;
			border-radius: 4px;
			position: absolute;
			top: 10px;
			left: 10px
		}

		.section-common-page__aside__heading {
			color: #100803;
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 16px;
			position: relative;
			z-index: 1
		}

		@media (min-width:1024px) {
			.section-common-page__aside__heading {
				font-weight: 600;
				font-size: 18px
			}
		}

		.section-common-page__aside__menu {
			position: relative;
			z-index: 1
		}

		.section-common-page__aside__menu-item {
			margin-bottom: 12px
		}

		.section-common-page__aside__menu-item:last-of-type {
			margin-bottom: 0
		}

		.section-common-page__aside__menu-item a {
			color: #222121
		}

		#CommonPage {
			min-height: 500px;
			margin: 0;
			position: relative
		}

		@media (max-width: 768px) {
		    .section-top-landing {
		        background-image: none;
		        margin-top: 99px;
		    }
		}
		
	</style>

	<link href="./css/main/footer-related-links-css/common-pages-9a8b795a.2c739c2c1a725c261975.css" rel="preload" as="style"
		media="all" onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/common-pages-9a8b795a.2c739c2c1a725c261975.css">
	</noscript>

	<link href="./css/main/footer-related-links-css/common-pages-9acf4d28.358fa93d82179260cc3c.css" rel="preload" as="style"
		media="all" onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/common-pages-9acf4d28.358fa93d82179260cc3c.css">
	</noscript>

	<link href="./css/main/footer-related-links-css/common-pages-b6401908.3ea3f2f2bb925ba477b6.css" rel="preload" as="style"
		media="all" onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/common-pages-b6401908.3ea3f2f2bb925ba477b6.css">
	</noscript>

	<link href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css" rel="preload" as="style"
		media="all" onload="this.rel='stylesheet'" />
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css">
	</noscript>

</head>

<body>
	<div data-notify-widget class="NotifyWidget-banner"></div>

	<div class="page-wrapper ">

		<!-- HEADER -->

		<%- include("../../partials/header.ejs") %>
		<%- include("../../partials/whatsapp-contact.ejs") %>  
		<%- include("../../partials/cursor-effect.ejs") %>	

		<!-- END HEADER -->

		<div class="section section-top-landing ">
			<div class="container">
				<div class="section-top-landing__inner">
					<div class="breadcrumbs">
						<ul class="wrap clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
									itemprop="item" href="/"><span
										itemprop="name">Do Task For Me</span></a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span
									itemprop="name">Money Back Guarantee</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
					<div class="section-top-landing__heading">
						<span class="h1 section-top-landing__heading__title">
						</span>
					</div>
				</div>
			</div>
		</div>

		<section class="section section-common-page">
			<div class="container">
				<div class="section-common-page__inner">
					<main class="section-common-page__main">
        
						<h1 class="h1">Money back guarantee</h1>
						<div id="CommonPage" data-page="money_back_guarantee" data-site-id="75"><div class="page-content">
						  <h3>I want to cancel my order</h3>
						  <p>To cancel an order, please contact our support team by phone or via live chat as soon as possible and confirm the
							cancellation by sending us a message on your order page.</p>
						  <ul>
							<li><b>100% of your payment</b> will be refunded if you cancel your order before we assign a writer to work on it.
							</li>
							<li><b>70%</b> is the refund you can claim if a writer has already been assigned to your paper, which can be confirmed
							  by the order’s status. The same refund can be claimed if less than half of the time has passed between the moment
							  the order was received and the deadline.
							</li>
							<li><b>Up to 50%</b> can be refunded if more than a half of the time has passed between the moment the order was
							  received and the deadline.
							</li>
							<li><b>Up to 30%</b> might be considered after delivery if you haven't downloaded the paper and the circumstances
							  leading to the order’s cancellation were beyond your control.
							</li>
						  </ul>
						  <p>
							<b>Note:</b> You cannot cancel your order if the paper has been completed and delivered to your order page in time. In
							this case, you can only request a refund due to quality concerns through the “Refund” button on your order page.
						  </p>
						  <h3>I paid for one order twice</h3>
						  <p>
							If you notice that you have been charged twice for one order, make sure to contact us. Forward both receipts to our
							email, and the extra payment will be refunded in full as soon as possible.
						  </p>
						  <h3>I accidentally placed two identical orders</h3>
						  <p>Be sure to cancel any orders you don’t need before we assign a writer; otherwise, the orders will be regarded as
							regular. In this case, the standard procedures for order cancellation and refund will apply, which means you won’t be
							able to get a 100% refund. To cancel an order you’ve accidentally placed, contact our support team as soon as
							possible.</p>
						  <h3>My paper was delivered late</h3>
						  <p>If the lateness of your paper is the reason why you are requesting a refund, contact our support team and submit a
							note on your order page immediately upon noticing that the deadline has passed and you haven’t received your paper
							yet.</p>
						  <ul>
							<li>If the first version of your paper is delivered after the original deadline, you can request a recalculation of
							  the order’s price according to the time of actual delivery. For example, if an 8-hour-delivery paper is completed an
							  hour late, it will fall into the 24-hour-delivery category and therefore cost less, and the difference in price will
							  be refunded.
							</li>
							<li>If you receive the first version of your 14-day deadline order late, we refund 7% of the cost upon your request.
							</li>
							<li>If the first version of a paper is late and you don’t approve it, you have the right to a full refund. When you
							  receive a full refund, we publish the paper on online platforms for commercial use. Once that happens, the content
							  of that paper links back to our website if googled or checked by plagiarism-detection software.
							</li>
						  </ul>
						  <p><b>Note:</b> If a delay occurs due to the late uploading of extra materials on your part, you cannot apply for a
							lateness-based refund. The deadline starts afresh from the moment you provide new instructions, materials, or
							clarifications without which it would be impossible to complete your order properly.</p>
						  <h3>The revision of my paper was late</h3>
						  <p>
							Delay-based refunds and price recalculations don’t apply to revisions, since the revision deadlines are set separately
							from those of the original orders.
						  </p>
						  <p>
							Make sure you choose the correct deadline when filling out an order form. A gap of at least 30% of the time between
							the deadline you’ve stated and the due date of your paper is preferable, and it will protect you in case there are
							flaws in the first version of your paper.
						  </p>
						  <h3>I am not fully satisfied with the quality of the paper. However, I accept it and will revise it myself. I request a
							partial refund.</h3>
						  <p>If our writer didn’t follow the instructions that were provided before the order was paid, and you are not completely
							satisfied with the quality of the final paper you received, you have three options:</p>
						  <ul>
							<li>You can request a free revision.</li>
							<li>You can ask for another writer to be assigned to your order.</li>
							<li>You can request a partial refund.</li>
						  </ul>
						  <h4>What should I do to get a refund?</h4>
						  <ol>
							<li>To place a partial refund request, use the “Refund” button on your order page within 14 days after the paper has
							  been approved.
							</li>
							<li>As soon as you request a partial refund, we will send you the editable version of your paper. You then have 14
							  days to provide strong reasons to back up your claims. Your argumentation should consist of detailed explanations,
							  examples, and any other evidence requested by the dispute department representatives.
							</li>
							<li>Our dispute resolution department reviews your feedback and may refund up to 40% of your money.</li>
						  </ol>
						  <p>
							<b>Note:</b> If you fail to provide the information required for dispute resolution within 14 days, your request will
							be canceled and no refund will be possible.
						  </p>
						  <h4>What if I have already approved the final version of my order?</h4>
						  <p>In this case, contact our support team via live chat, by phone, or through your order page for assistance. They will
							make the “Refund” button reappear on your order page.</p>
						  <p>Please take into consideration that with progressive delivery orders, only the most recent or final part delivered
							can be disputed. Standard money-back policies apply.</p>
						  <h3>I am completely dissatisfied with the quality of the paper and so have decided to write it myself. I request a full
							refund.</h3>
						  <p>If our writer doesn’t follow the instructions that were provided before the order was paid for and you are completely
							dissatisfied with the quality of the final paper you received, you have three options.</p>
						  <ul>
							<li>You can request a free revision.</li>
							<li>You can ask another writer to be assigned to your order.</li>
							<li>You can request a full refund, assuming you haven’t already approved the paper.</li>
						  </ul>
						  <p>If you choose the third option, the paper we delivered is posted online. Once that happens, its text links back to
							our website if googled or checked by plagiarism-detection software.</p>
						  <h4>What should I do to get a refund?</h4>
						  <ol>
							<li>To place a partial refund request, use the “Refund” button on your order page within 14 days after the paper has
							  been approved.
							</li>
							<li>As soon as you request a partial refund, we will send you the editable version of your paper. You then have 14
							  days to provide strong reasons to back up your claims. Your argumentation should consist of detailed explanations,
							  examples, and any other evidence requested by the dispute department representatives.
							</li>
							<li>Our dispute resolution department reviews your feedback and may refund up to 100% of your money.</li>
						  </ol>
						  <p>
							<b>Note:</b> If you haven’t provided the information required for dispute resolution within 14 days, your refund
							request will be canceled and no reimbursement will be possible.
						  </p>
						  <p>If you have clicked the “Approve Order” button at least once, either for the initial or revised version of your
							paper, you are eligible for a partial refund only.</p>
						  <p>Please remember that with progressive delivery orders, only the last part delivered can be disputed. Standard
							money-back policies apply.</p>
						  <h3>Progressive delivery orders</h3>
						  <p>For orders with the progressive delivery feature enabled, the deadline for a revision request is limited to 21 days
							after the initial approval. Once you press the “Approve Part” button, and we begin working on the next section of your
							order, you cannot request a refund for the previously approved part. The 10% progressive delivery fee itself is
							non-refundable.</p>
						  <h3>Writer’s preferences</h3>
						  <p>If you pay an extra fee for an advanced writer, one of our Top 10 specialists, or a native speaker, but we are unable
							to find someone in one of the aforementioned categories to work on your order, we assign the best available expert
							instead. In this case, the extra fee you’ve paid is refunded.</p>
						  <h3>Copies of sources used</h3>
						  <p>The additional fee you pay for this service becomes non-refundable once the copies of the sources are delivered with
							your paper. If for some reason they are not provided upon delivery, this payment will be refunded.</p>
						  <h3>When will I receive my refund?</h3>
						  <p>If your refund request is connected with payment issues or if you decide to cancel your order, your request will be
							processed within 4-6 business days.</p>
						  <p>If your refund request is connected with quality-based issues, it will be processed within two weeks.</p>
						  <p><b>Note:</b> Keep in mind that some banks require more time to process reimbursements.</p>
						  <h3>How do I avoid situations in which a refund might be required?</h3>
						  <ul>
							<li>When placing an order, provide all the details, files, and links necessary for the completion of your paper.</li>
							<li>Keep in touch with your assigned writer. They might need clarifications or additional information to provide you
							  with a high-quality paper.
							</li>
						  </ul>
						  <p>We are here to take care of any problems. Our support team works 24/7 and is always ready to assist you. Our dispute
							resolution specialists will help you with any critical issues.</p>
						  <h3>No writer was found to work on my order</h3>
						  <p>We do our best to assign an appropriate writer to work on your paper, though situations where such a writer cannot be
							found are still possible. If this occurs, we will ask you whether you have enough time for us to keep searching. If
							there is no time left, we will issue a full refund for your order.</p>
						  <p>If you want another writer to revise your finished paper, and we can’t find you a suitable expert, our dispute
							resolution specialist will review your claim.</p>
						  <p>You have 14 days from the delivery of the most recent or final version of your paper to request a full refund. You
							have 14 days from the date of approval of the first version of your paper to request a partial refund.</p>
						  <h3>I received my completed paper but forgot to approve it</h3>
						  <p>You have 14 days to approve your order. The time for approval is calculated automatically from the moment the final
							version of your paper is uploaded to your order page. If you haven’t requested a revision or haven’t approved your
							order within 14 days, the paper is automatically approved by the system. From the moment the order is approved, you
							have 14 days to apply for a partial refund. After this period, no refund request is possible.</p>
						</div>
						</div>
					</main>
					<%- include("../../partials/footer-links-set-asides.ejs") %>
				</div>
			</div>
		</section>

		<%- include("../../partials/services-container.ejs") %>
		<%- include("../../partials/footer.ejs") %>

		<script>
			var scriptsArray = ["\/js\/cookie-dialog.bcf194b3a41f3dcdf706.js", "#\/js\/common-pages-9a8b795a.4e9bc82985ce2d59ca4d.js", "#\/js\/common-pages-9acf4d28.d5d3f649e94cc5b6a539.js", "\/js\/common-pages-b6401908.5cf01accf0685548b41f.js"];

			var body = document.getElementsByTagName('body')[0];
			window.addEventListener('load', function () {
				for (var scriptLink in scriptsArray) {
					var scriptEl = document.createElement('script');
					scriptEl.async = true;
					scriptEl.src = scriptsArray[scriptLink];
					body.appendChild(scriptEl);
				}
			});
		</script>

		<script>!function (a) { "use strict"; var b = function (b, c, d) { function e(a) { return h.body ? a() : void setTimeout(function () { e(a) }) } function f() { i.addEventListener && i.removeEventListener("load", f), i.media = d || "all" } var g, h = a.document, i = h.createElement("link"); if (c) g = c; else { var j = (h.body || h.getElementsByTagName("head")[0]).childNodes; g = j[j.length - 1] } var k = h.styleSheets; i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () { g.parentNode.insertBefore(i, c ? g : g.nextSibling) }); var l = function (a) { for (var b = i.href, c = k.length; c--;)if (k[c].href === b) return a(); setTimeout(function () { l(a) }) }; return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this); !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);</script>
</body>
</html>