<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
	
	<title>Do Task For Me | Our Prices</title>
	
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="description" content="The price list for 'do task for me' orders. Click 'Order Now' to get your custom assignment within the set deadline.">


	<!-- <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="manifest" href="site.webmanifest">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffbe21">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<link rel="preconnect" href="https://www.gstatic.com/" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>


	<link rel="canonical" href="pricing.html" /> -->
	<style>

		.pricing-table .pricing-table__row  td:hover{
			background-color: #06234A;
			color: #fff;
		}
		
		@font-face {
			font-family: Bebas Neue;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Bebas Neue;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 400;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 600;
			font-display: swap
		}

		@font-face {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 600;
			font-display: swap
		}

		body,
		html {
			scroll-behavior: smooth
		}

		body {
			line-height: 1.6
		}

		@media (min-width:1024px) {
			body {
				line-height: 1.7
			}
		}

		.page-wrapper {
			position: relative
		}

		.section {
			padding: 40px 24px
		}

		@media (min-width:1024px) {
			.section {
				padding: 110px 24px
			}
		}

		.section__subtitle {
			font-weight: 500;
			font-size: 15px;
			line-height: 1.5
		}

		@media (min-width:1024px) {
			.section__subtitle {
				font-size: 16px
			}
		}

		.container {
			width: 100%
		}

		@media (min-width:1024px) {
			.container {
				max-width: 1220px;
				margin-left: auto;
				margin-right: auto
			}
		}

		.breadcrumbs .wrap {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			list-style: none;
			margin-bottom: 18px;
			padding: 0;
			font-size: 12px;
			line-height: 24px;
			color: #acacac
		}

		@media (min-width:480px) {
			.breadcrumbs .wrap {
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				margin-bottom: 24px
			}
		}

		.breadcrumbs .wrap li {
			margin-bottom: .5rem
		}

		@media (min-width:1024px) {
			.breadcrumbs .wrap li {
				margin-bottom: 1rem
			}
		}

		.breadcrumbs .wrap li+li {
			position: relative;
			margin-left: 56px
		}

		.breadcrumbs .wrap li+li:before {
			content: "";
			width: 1rem;
			height: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -36px;
			background-color: #ffb806;
			margin: auto
		}

		.breadcrumbs .wrap li>span {
			white-space: nowrap
		}

		.breadcrumbs a {
			color: #fff;
			border-bottom: .125em solid transparent;
			-webkit-box-shadow: 0 .071em 0 #585655;
			box-shadow: 0 .071em 0 #585655;
			text-decoration: none;
			white-space: nowrap
		}

		.h1,
		.h2,
		h1,
		h2 {
			text-transform: uppercase;
			color: #06234A;
		}

		.h2,
		h2 {
			font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 36px;
			line-height: 1.4;
			font-weight: 400;
			margin-bottom: 8px;
			color: #06234A;
		}

		@media (min-width:1024px) {

			.h2,
			h2 {
				font-size: 62px;
				color: #06234A;
			}
		}

		h5 {
			font-size: 16px;
			line-height: 1.4;
			font-weight: 600;
			margin-bottom: 8px
		}

		@media (min-width:1024px) {
			h5 {
				font-weight: 500;
				font-size: 24px
			}
		}

		.btn {
			display: inline-block;
			font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;
			overflow: hidden;
			position: relative;
			vertical-align: top;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 14px 48px;
			border: 0;
			border-radius: 4px
		}

		.btn {
			text-decoration: none
		}

		.btn--orange {
			background-color: #ffb806;
			color: #100803
		}

		select {
			font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			color: #100803;
			border: 1px solid #dedede;
			background-color: #fff;
			border-radius: 4px;
			vertical-align: middle;
			cursor: pointer;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 16px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.1;
			width: 100%
		}

		select::-ms-expand {
			display: none
		}

		.Loader {
			background-color: transparent;
			width: 100%;
			min-height: 40px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			position: absolute;
			z-index: 99
		}

		.Loader--center-mode {
			height: 100%;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center
		}

		.Loader__inner {
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .6) rgba(0, 0, 0, .6);
			border-style: solid;
			border-width: 2px;
			margin: 0 auto;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation: spinner-animation .35s linear infinite;
			animation: spinner-animation .35s linear infinite;
			position: relative
		}

		@media (-ms-high-contrast:none),
		screen and (-ms-high-contrast:active) {
			.Loader__inner {
				margin: 0
			}
		}

		@-webkit-keyframes spinner-animation {
			0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg)
			}

			to {
				-webkit-transform: rotate(1turn);
				transform: rotate(1turn)
			}
		}

		@keyframes spinner-animation {
			0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg)
			}

			to {
				-webkit-transform: rotate(1turn);
				transform: rotate(1turn)
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none
		}

		ul li {
			margin-bottom: 1rem
		}

		p {
			margin-bottom: 1em
		}

		.types-of-services .select-wrapper {
			position: relative;
			margin: 6px 0 12px
		}

		.types-of-services .select-wrapper:last-of-type {
			margin-bottom: 1rem
		}

		@media (min-width:1024px) {
			.types-of-services .select-wrapper:last-of-type {
				margin-bottom: 1.5rem
			}
		}

		.types-of-services .select-wrapper:after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 17px;
			bottom: 0;
			pointer-events: none;
			border-color: #100803 transparent transparent;
			border-style: solid;
			border-width: 8px 6px 0;
			border-radius: 2px;
			margin: auto
		}

		.types-of-services label {
			font-size: 16px;
			line-height: 20px;
			color: rgba(16, 8, 3, .6)
		}

		.types-of-services__wrapper h5 {
			margin-bottom: 1rem
		}

		@media (min-width:1024px) {
			.types-of-services__wrapper h5 {
				margin-bottom: 1.5rem
			}
		}

		.types-of-services .service-form__btn {
			padding: 20px;
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center
		}

		@media (min-width:1024px) {
			.types-of-services .service-form__btn {
				background-color: #100803;
				color: #fff
			}
		}

		.section-top-landing {
			background-color: #2d2d2c;
			background-size: 13px, 39px, 20px, 128px;
			background-repeat: no-repeat;
			background-position: right -2px top 49px, right -3px top 55px, left 17px bottom 26px, left -54px top 88px;
			padding-top: 1rem;
			padding-bottom: 70px;
			position: relative
		}

		@media (min-width:1024px) {
			.section-top-landing {
				background-position: left -173px top 922px, left -6px top 241px, left -126px top 48px, right 346px top 112px, right 341px top 125px, right -4.5rem top 60px, 0 0;
				background-size: 433px, 32px, 214px, 26px, 80px, 510px, cover;
				padding-top: 1.5rem;
				position: relative;
				padding-bottom: 112px;
				min-height: 300px;
				height: 415px;
			}
		}

		.section-top-landing:after {
			content: "";
			position: absolute;
			bottom: -23px;
			right: 0;
			height: 43px;
			width: 88px;
			background: url(/images/footer-related-links-images/ico_dottes.svg) 50%/contain no-repeat
		}

		@media (min-width:1024px) {
			.section-top-landing:after {
				bottom: -5rem;
				right: 30px;
				height: 156px;
				width: 97px;
				background: url(/images/footer-related-links-images/redesign/decorations/img_circles-yellow.svg) 50%/contain no-repeat;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg)
			}
		}

		.section-top-landing__heading {
			max-width: 43.1rem;
			margin: 0 auto;
			text-align: center
		}

		.section-top-landing__heading__title {
			color: #fff
		}

		.section-top-landing__heading .section__subtitle {
			color: #dedede
		}

		.section-pricing {
			position: relative
		}

		.pricing__title {
			line-height: 1.1;
			margin-bottom: 8px
		}

		.pricing__subtitle {
			font-size: 16px;
			font-weight: 500;
			margin: 0 0 24px
		}

		@media (min-width: 1024px) {
		    .types-of-services .service-form__btn {
		        background-color: white;
		        color: #06234A;
		    }
		}

		@media (min-width:1024px) {
			.pricing__subtitle {
				margin-bottom: 36px
			}
		}

		.pricing__list {
			margin-bottom: 25px
		}

		@media (min-width:1024px) {
			.pricing__list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				margin-bottom: 50px
			}
		}

		.pricing__list--item {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			position: relative;
			font-size: 17px;
			font-weight: 600;
			margin-bottom: 16px
		}

		@media (min-width:1024px) {
			.pricing__list--item {
				width: 25%;
				font-size: 18px;
				margin-bottom: 0
			}
		}

		.pricing__list--item:before {
			content: "";
			display: block;
			width: 36px;
			height: 36px;
			background: 50%/contain no-repeat;
			margin-right: 16px
		}

		@media (min-width:1024px) {
			.pricing__list--item:before {
				width: 42px;
				height: 42px
			}
		}

		html:before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			display: none;
			background-color: rgba(16, 8, 3, 0);
			z-index: 2
		}

		@media (min-width:768px) {
			html:before {
				display: block
			}
		}

		@media (min-width:1024px) {
			html:before {
				display: none
			}
		}

		.Header {
			position: sticky;
			top: 0;
			z-index: 20;
			padding: 0 24px;
			background-color: #2d2d2c
		}

		.Header {
			-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			box-shadow: 0 15px 40px rgba(16, 8, 3, .08)
		}

		.Header .container {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px
		}

		@media (min-width:1024px) {
			.Header .container {
				-webkit-box-shadow: 0 -1px 0 0 #535353 inset;
				box-shadow: inset 0 -1px 0 0 #535353
			}
		}

		.Header__logo,
		.Header__logo--white-text {
			position: relative;
			max-width: 203px;
			z-index: 2;
			display: none
		}

		@media (min-width:1024px) {

			.Header__logo,
			.Header__logo--white-text {
				max-width: 234px
			}
		}

		.Header__logo--white-text {
			display: inline-block
		}

		.Header__burger {
			position: relative;
			width: 24px;
			height: 19px;
			background: none;
			border: 0;
			cursor: pointer;
			z-index: 2
		}

		@media (min-width:1024px) {
			.Header__burger {
				display: none
			}
		}

		.Header__burger span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: #fff;
			border-radius: 3px;
			will-change: transform
		}

		.Header__burger span:first-child {
			-webkit-transform: translateY(-6px);
			transform: translateY(-6px)
		}

		.Header__burger span:last-child {
			-webkit-transform: translateY(6px);
			transform: translateY(6px)
		}

		.Header__menu {
			visibility: hidden;
			position: fixed;
			top: 78px;
			right: -100%;
			-webkit-transform: translateX(0);
			transform: translateX(0);
			width: 100%;
			height: calc(100vh - 78px);
			padding: 8px 24px 30px;
			background-color: #fff;
			overflow-y: auto;
			-webkit-box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
			box-shadow: inset 0 20px 40px -15px rgba(16, 8, 3, .08);
			will-change: transform
		}

		@media (min-width:768px) {
			.Header__menu {
				width: 370px;
				right: -370px;
				padding: 8px 24px 30px;
				margin-left: auto
			}
		}

		@media (min-width:1024px) {
			.Header__menu {
				position: static;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
				-webkit-box-align: end;
				-ms-flex-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				background-color: transparent;
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 0;
				width: auto;
				height: auto;
				visibility: visible;
				-webkit-transform: translateX(0);
				transform: translateX(0);
				overflow: visible
			}
		}

		.Header__menu-list {
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none
		}

		@media (min-width:1024px) {
			.Header__menu-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: end;
				-ms-flex-align: end;
				align-items: flex-end;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between
			}
		}

		@media (min-width:1024px) {
			.Header__menu-list li a {
				color: #fff
			}
		}

		.Header__menu-list>li {
			position: relative;
			margin-bottom: 0
		}

		.Header__menu-list>li+li {
			border-top: 1px solid #acacac
		}

		@media (min-width:1024px) {
			.Header__menu-list>li+li {
				margin-left: 15px;
				border-top: 0
			}
		}

		@media (min-width:1200px) {
			.Header__menu-list>li+li {
				margin-left: 28px
			}
		}

		.Header__menu-list>li.Header__menu-list-item-order {
			border-top: 0;
			padding-top: 16px
		}

		@media (min-width:1024px) {
			.Header__menu-list>li.Header__menu-list-item-order {
				display: none
			}
		}

		.Header__menu-list>li.Header__menu-list-item-order .btn--order-now {
			display: inline-block;
			padding: 12px 28px;
			width: auto
		}

		.Header__menu-list a {
			display: block;
			font-size: .875rem;
			font-weight: 600;
			color: #100803;
			padding: 16px 0;
			border-bottom: .125em solid transparent;
			-webkit-box-shadow: 0 .071em 0 transparent;
			box-shadow: 0 .071em 0 transparent;
			text-decoration: none
		}

		@media (min-width:1024px) {
			.Header__menu-list a {
				display: inline;
				padding: 0
			}
		}

		.Header__user-box {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-left: auto
		}

		@media (min-width:1024px) {
			.Header__user-box {
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
				margin-left: 7px;
				padding-left: 8px
			}
		}

		@media (min-width:1200px) {
			.Header__user-box {
				margin-left: 14px;
				padding-left: 14px
			}
		}

		.Header__user-box .btn--manage-order {
			white-space: nowrap;
			padding: 0 0 0 36px;
			margin-right: 20px;
			width: 38px;
			height: 38px;
			-webkit-box-shadow: 0 0 1px 1px #585655;
			box-shadow: 0 0 1px 1px #585655;
			border-radius: 50%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0
		}

		@media (min-width:1024px) {
			.Header__user-box .btn--manage-order {
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 0;
				margin-right: 28px;
				width: auto;
				height: auto;
				border: 0;
				border-radius: 0;
				overflow: visible;
				border-bottom: .125em solid transparent;
				color: #fff
			}
		}

		.Header__user-box .btn--manage-order:before {
			content: "";
			width: 17px;
			height: 17px;
			margin-right: 10px;
			background: url(images/ico_manage-orders.svg) 50% no-repeat;
			background-size: contain
		}

		@media (max-width:1024px) {
			.Header__user-box .btn--manage-order:before {
				position: absolute;
				width: 20px;
				height: 20px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto
			}
		}

		.Header__user-box .btn--order-now {
			display: none;
			padding: 12px 28px
		}

		@media (min-width:1024px) {
			.Header__user-box .btn--order-now {
				display: block
			}
		}

		a {
			color: #100803;
			text-decoration: none
		}

		.pricing-table__wrap {
			background-color: #fff;
			padding: 26px 16px 40px;
			-webkit-box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			box-shadow: 0 15px 40px rgba(16, 8, 3, .08);
			border-radius: 4px
		}

		@media (min-width:768px) {
			.pricing-table__wrap {
				padding: 40px 50px 75px
			}
		}

		.pricing-table__wrap [data-pricing-table] {
			position: relative;
			min-height: 120px;
			z-index: 1
		}

		.Tabs__content__item {
			display: none;
			width: 100%
		}

		*,
		:after,
		:before {
			margin: 0;
			padding: 0;
			outline: none;
			box-sizing: border-box
		}

		body,
		html {
			-webkit-tap-highlight-color: transparent;
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%
		}

		body {
			background-color: #fff;
			font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			color: #100803;
			font-size: 14px;
			line-height: 1.4;
			font-weight: 400;
			word-wrap: break-word;
			margin: 0;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility
		}

		img {
			height: auto;
			vertical-align: top
		}

		iframe,
		img {
			max-width: 100%
		}

		.h1,
		h1 {
			font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 40px;
			line-height: 1.15;
			font-weight: 400
		}

		@media (min-width:1024px) {

			.h1,
			h1 {
				font-size: 74px
			}
		}

		.h2,
		h2 {
			font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
			font-size: 36px;
			line-height: 1.4;
			font-weight: 400
		}

		.whatsapp-icon {
		    position: fixed;
		    bottom: 0px;
		    right: -260px;
		    z-index: 1000;
		}

		@media (min-width:1024px) {

			.h2,
			h2 {
				font-size: 62px
			}
		}

		[data-notify-widget] {
			display: block !important
		}

		@media (max-width:600px) {
			.section-top-landing {
			    background-color: #06234A;
			    background-image: url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark_thin.svg), url(/images/redesign/decorations/img_circle-theme-color.svg), url(/images/redesign/decorations/img_circle-additional-dark-004_wide.svg);
			    background-size: 13px, 39px, 20px, 128px;
			    background-repeat: no-repeat;
			    background-position: right -2px top 49px, right -3px top 55px, left 17px bottom 26px, left -54px top 88px;
			    padding-top: 1rem;
			    padding-bottom: 70px;
			    position: relative;
			    margin-top: 60px;
			}
		}

	</style>

	
	<link href="./css/main/footer-related-links-css/pricing-9a8b795a.2c739c2c1a725c261975.css" rel="preload" as="style" media="all" onload="this.rel='stylesheet'" />
	
	
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/pricing-9a8b795a.2c739c2c1a725c261975.css">
	</noscript>

	
	<link href="./css/main/footer-related-links-css/pricing-ece0de9f.a910ebd39baf969d949c.css" rel="preload" as="style" media="all" onload="this.rel='stylesheet'" />
	
	
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/pricing-ece0de9f.a910ebd39baf969d949c.css">
	</noscript>


	<link href="./css/main/footer-related-links-css/pricing-217472bd.6ce56a9a66c3a2526284.css" rel="preload" as="style" media="all"
	onload="this.rel='stylesheet'" />
	
	
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/pricing-217472bd.6ce56a9a66c3a2526284.css">
	</noscript>


	<link href="./css/main/footer-related-links-css/pricing-ff7f2a21.d372cabf037fc00c35d3.css" rel="preload" as="style" media="all"
	onload="this.rel='stylesheet'" />
	
	
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/pricing-ff7f2a21.d372cabf037fc00c35d3.css">
	</noscript>


	<link href="./css/main/footer-related-links-css/pricing-fe80aa18.8b101fe3ee9127203065.css" rel="preload" as="style" media="all"
	onload="this.rel='stylesheet'" />
	
	
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/pricing-fe80aa18.8b101fe3ee9127203065.css">
	</noscript>

	
	<link href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css" rel="preload" as="style" media="all"
	onload="this.rel='stylesheet'" />
	
	
	<noscript>
		<link rel="stylesheet" href="./css/main/footer-related-links-css/cookie-dialog.fba66a37a51a1359358b.css">
	</noscript>

	
	<script>
		var pageConfig = {};
		var getEnvironment = 'production';
	</script>
	
	
	<script>function checkSupport() { var e = document.documentElement, o = new Image; o.onload = o.onerror = function () { isSupported = 2 === o.height, isSupported || e.classList.add("no-webp") }, o.src = "data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA" } checkSupport();</script>

</head>

<body>

	<%- include("../../partials/header.ejs") %>		
    <%- include("../../partials/whatsapp-contact.ejs") %>	
    <%- include("../../partials/cursor-effect.ejs") %>


	<div data-notify-widget class="NotifyWidget-banner"></div>

	<div class="page-wrapper ">

		<div class="section section-top-landing ">
			<div class="container">
				<div class="section-top-landing__inner">
					<div class="breadcrumbs">
						<ul class="wrap clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
									itemprop="item" href="/"><span itemprop="name">Do Task For Me</span></a>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span
									itemprop="name">Prices</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
					<div class="section-top-landing__heading">
						<h2 class="h1 section-top-landing__heading__title">
							Pricing system </h2>
						<p class="section__subtitle">We ensure that you can get the lowest price by adjusting your
							order's characteristics.</p>
					</div>
				</div>
			</div>
		</div>

		<section class="section section-pricing">
			<div class="container">
				<h1 class="h2 pricing__title">See how much your essay may cost</h1>
				<p class="pricing__subtitle">The price of your non-technical paper is based on these factors:</p>

				<ul class="pricing__list list--clean">
					<li class="pricing__list--item pricing__list--item-level">Academic level</li>
					<li class="pricing__list--item pricing__list--item-pages">Number of pages</li>
					<li class="pricing__list--item pricing__list--item-type">Type of paper needed</li>
					<li class="pricing__list--item pricing__list--item-urgency">Urgency</li>
				</ul>

				<div class="pricing-table__wrap">
					<div data-pricing-table="75">
						<div class="Select">
							<label class="Select__label">Academic level</label>
							<div class="Select__container">
								<select class="select">
									<option value="1">High School</option>
									<option value="2">Undergrad. (yrs 1-2)</option>
									<option value="3">Undergrad. (yrs 3-4)</option>
									<option value="4">Master's</option>
									<option value="5">PhD</option>
								</select>

							</div>

						</div>
						<table class="pricing-table">
							<tr class="pricing-table__academic-levels-titles">
								<td></td>
								<td>High School</td>
								<td>Undergrad. (yrs 1-2)</td>
								<td>Undergrad. (yrs 3-4)</td>
								<td>Master's</td>
								<td>PhD</td>
							</tr>
							<tr class="pricing-table__row	">
								<th class="pricing-table__deadline-name">1 month</th>
								<td data-deadline-id="1" class="deadline-active">n/a</td>
								<td data-deadline-id="2">n/a</td>
								<td data-deadline-id="3">
									<span>$</span>
									18
								</td>
								<td data-deadline-id="4">
									<span>$</span>
									23
								</td>
								<td data-deadline-id="5">
									<span>$</span>
									27
								</td>
							</tr>
							<tr class="pricing-table__row">
								<th class="pricing-table__deadline-name">14 days</th>
								<td data-deadline-id="1" class="deadline-active">
									<span>$</span>
									10
								</td>
								<td data-deadline-id="2">
									<span>$</span>
									15
								</td>
								<td data-deadline-id="3">
									<span>$</span>
									20
								</td>
								<td data-deadline-id="4">
									<span>$</span>
									25
								</td>
								<td data-deadline-id="5">
									<span>$</span>
									29
								</td>
							</tr>
							<tr class="pricing-table__row">
								<th class="pricing-table__deadline-name">7 days</th>
								<td data-deadline-id="1" class="deadline-active">
									<span>$</span>
									16
								</td>
								<td data-deadline-id="2">
									<span>$</span>
									17
								</td>
								<td data-deadline-id="3">
									<span>$</span>
									21
								</td>
								<td data-deadline-id="4">
									<span>$</span>
									27
								</td>
								<td data-deadline-id="5">
									<span>$</span>
									31
								</td>
							</tr>
							<tr class="pricing-table__row">
								<th class="pricing-table__deadline-name">5 days</th>
								<td data-deadline-id="1" class="deadline-active">
									<span>$</span>
									18
								</td>
								<td data-deadline-id="2">
									<span>$</span>
									19
								</td>
								<td data-deadline-id="3">
									<span>$</span>
									23
								</td>
								<td data-deadline-id="4">
									<span>$</span>
									29
								</td>
								<td data-deadline-id="5">
									<span>$</span>
									35
								</td>
							</tr>
							<tr class="pricing-table__row">
								<th class="pricing-table__deadline-name">3 days</th>
								<td data-deadline-id="1" class="deadline-active">
									<span>$</span>
									20
								</td>
								<td data-deadline-id="2">
									<span>$</span>
									24
								</td>
								<td data-deadline-id="3">
									<span>$</span>
									28
								</td>
								<td data-deadline-id="4">
									<span>$</span>
									33
								</td>
								<td data-deadline-id="5">
									<span>$</span>
									45
								</td>
							</tr>
							<tr class="pricing-table__row">
								<th class="pricing-table__deadline-name">48 hours</th>
								<td data-deadline-id="1" class="deadline-active">
									<span>$</span>
									24
								</td>
								<td data-deadline-id="2">
									<span>$</span>
									26
								</td>
								<td data-deadline-id="3">
									<span>$</span>
									30
								</td>
								<td data-deadline-id="4">
									<span>$</span>
									36
								</td>
								<td data-deadline-id="5">
									<span>$</span>
									45
								</td>
							</tr>
							<tr class="pricing-table__row">
								<th class="pricing-table__deadline-name">24 hours</th>
								<td data-deadline-id="1" class="deadline-active">
									<span>$</span>
									27
								</td>
								<td data-deadline-id="2">
									<span>$</span>
									30
								</td>
								<td data-deadline-id="3">
									<span>$</span>
									32
								</td>
								<td data-deadline-id="4">
									<span>$</span>
									39
								</td>
								<td data-deadline-id="5">
									<span>$</span>
									50
								</td>
								<tr class="pricing-table__row">
									<th class="pricing-table__deadline-name">8 hours</th>
									<td data-deadline-id="1" class="deadline-active">
										<span>$</span>
										34
									</td>
									<td data-deadline-id="2">
										<span>$</span>
										39	
									</td>
									<td data-deadline-id="3">
										<span>$</span>
										41	
									</td>
									<td data-deadline-id="4">
										<span>$</span>
										48
									</td>
									<td data-deadline-id="5">
										<span>$</span>
										58
									</td>
								</tr>
								<tr class="pricing-table__row">
									<th class="pricing-table__deadline-name">4 hours</th>
									<td data-deadline-id="1" class="deadline-active">
										<span>$</span>
										39
									</td>
									<td data-deadline-id="2">
										<span>$</span>
										43
									</td>
									<td data-deadline-id="3">
										<span>$</span>
										51
									</td>
									<td data-deadline-id="4">
										<span>$</span>
										61
									</td>
									<td data-deadline-id="5">
										<span>$</span>
										73
									</td>
								</tr>
							</tr>
						</table>
					</div>
				</div>

				<div class="pricing-table__info">
					<p>* only for orders 30+ pages long</p>
					<p>All prices are given in USD for writing 1 page. You will be able to choose currency during
						checkout. For over nine years now, we approach every order individually to ensure that the most
						suitable writer is assigned to complete it on time and according to specific instructions.</p>
				</div>
			</div>
		</section>

		<div class="section">
			<div class="container">

				<div class="Tabs types-of-services" data-type-of-services>
					<div class="Tabs__nav types-of-services__tabs" role="tablist">
						<div class="Tabs__nav__item types-of-services__tabs__item tab-type-1" role="tab"
							data-tab-name="academic">
							<span>ACADEMIC WRITING</span>
						</div>

						<div class="Tabs__nav__item types-of-services__tabs__item tab-type-1" role="tab"
							data-tab-name="stem">
							<span>STEM ASSIGNMENT</span>
						</div>
					</div>
					<div class="types-of-services__wrapper">
						<div class="Tabs__content types-of-services__form-container">
							<form  action="" class="service-form academic" >
								<h5 class="services-form__title">We write any type of assignment in any discipline</h5>
								<label for="types-of-paper">Type of paper</label>
								<div class="select-wrapper">
									<select id="types-of-paper" data-defaultValue="77">
										<option value="2">Essay (any type)</option>
										<option value="13">Admission essay</option>
										<option value="53">Analysis (any type)</option>
										<option value="15">Annotated bibliography</option>
										<option value="16">Argumentative essays</option>
										<option value="14">Article review</option>
										<option value="77" selected>Assignment</option>
										<option value="71">Blog post</option>
										<option value="5">Book/movie review</option>
										<option value="11">Business plan</option>
										<option value="35">Capstone project</option>
										<option value="12">Case study</option>
										<option value="79">College essay</option>
										<option value="7">Coursework</option>
										<option value="1">Creative writing</option>
										<option value="18">Critical thinking</option>
										<option value="39">Discussion Essay</option>
										<option value="9">Dissertation/Dissertation chapter</option>
										<option value="75">Homework</option>
										<option value="73">Journal article</option>
										<option value="49">Lab Report</option>
										<option value="43">Literature Analysis/Review</option>
										<option value="45">Memo/Letter</option>
										<option value="51">Outline</option>
										<option value="63">Personal reflection</option>
										<option value="67">Poem</option>
										<option value="55">Presentation/PPT</option>
										<option value="65">Project</option>
										<option value="37">Question-Answer</option>
										<option value="59">Reflection paper/Reflection essay</option>
										<option value="57">Report (any type)/Brief report</option>
										<option value="3">Research paper</option>
										<option value="8">Research proposal</option>
										<option value="61">Response essay</option>
										<option value="4">Speech</option>
										<option value="41">Summary</option>
										<option value="6">Term paper</option>
										<option value="10">Thesis/Thesis chapter</option>
										<option value="64">Other</option>
									</select>
								</div>
								
								<label for="academic-level">Academic level</label>
								<div class="select-wrapper">
									<select id="academic-level" data-defaultValue="2">
										<option value="1" data-deadline="137533">High School</option>
										<option value="2" data-deadline="137549" selected="">Undergraduate
											(yrs.&nbsp;1-2)</option>
										<option value="3" data-deadline="137565">Undergraduate (yrs.&nbsp;3-4)</option>
										<option value="4" data-deadline="137583">Master's</option>
										<option value="5" data-deadline="137601">PhD</option>
									</select>
								</div>

								<a href="/form" class="btn btn--orange service-form__btn">
									Proceed to order form
								</a>
							</form>

							<form class=" stem service-form" role="tabform" data-tab-content="stem"
								tabindex="stem" novalidate>
								<h5 class="services-form__title">We write any type of assignment in any discipline</h5>

								<label for="types-of-services">Type of service</label>
								<div class="select-wrapper">
									<select id="types-of-services">
										<option value="46" data-stem-service="programming" selected>Programming</option>
										<option value="45" data-stem-service="calculations">Calculations</option>
									</select>
								</div>

								<label for="discipline">Discipline</label>
								<div class="select-wrapper">
									<select id="discipline" data-defaultValue="82">
										<option value="82">Web programming</option>
										<option value="83">Desktop applications development</option>
										<option value="84">Mobile applications development</option>
										<option value="85">Database design and optimization</option>
										<option value="86">Data analysis and reports</option>
										<option value="12">Computer science</option>
										<option value="88">3D CAD modeling</option>
										<option value="89">Algorithms</option>
									</select>
								</div>

								<a href="/form" class="btn btn--orange service-form__btn">
									Proceed to order form
								</a>
							</form>
						</div>
						<div class="types-of-services__description-container">
							<h5 style="color:#06234A;">How you can get you paper done super fast</h5>
							<ol class="list--order types-of-services__steps">
								<li>Fill out the order form.</li>
								<li>Pay for your assignment.</li>
								<li>Stay in touch with your expert.</li>
								<li>Download the finished work.</li>
							</ol>
							<img src="/images/footer-related-links-images/redesign/home/section-top/img_paper-section-top.jpg" alt="Paper image"
								width="70" height="86" class="types-of-services__description-img">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section section-faq" data-observed-bg>
			<div class="container">
				<div class="section-faq__inner">
					<h2 class="section-faq__title">Answers to popular questions</h2>
					<div class="section-faq__container">

						<ul class="Accordion list" itemscope itemtype="https://schema.org/FAQPage">
							<li class="Accordion__item" itemscope itemprop="mainEntity"
								itemtype="https://schema.org/Question">
								<h3 class="Accordion__item__heading h3 toggle-link" itemprop="name">How much will my
									essay cost? <span class="Accordion__item__close"></span></h3>
								<div class="Accordion__item__body" itemscope itemprop="acceptedAnswer"
									itemtype="https://schema.org/Answer">
									<div class="Accordion__item__content" itemprop="text">
										<p>Prices for writing assignments start at $10. If you choose the longest
											possible deadline for your short essay, it will be really cheap! Use our
											calculator to see how much your particular paper may cost, and get a free
											quote if you’d like us to find you a suitable writer before you pay for your
											essay.</p>
									</div>
								</div>
							</li>
							<li class="Accordion__item" itemscope itemprop="mainEntity"
								itemtype="https://schema.org/Question">
								<h3 class="Accordion__item__heading h3 toggle-link" itemprop="name">Is it expensive to
									get my STEM homework completed by your writers? <span
										class="Accordion__item__close"></span></h3>
								<div class="Accordion__item__body" itemscope itemprop="acceptedAnswer"
									itemtype="https://schema.org/Answer">
									<div class="Accordion__item__content" itemprop="text">
										<p>Assignments in complex disciplines will cost a bit more than an English 101
											essay or any other simple papers. If you’d like to know the price for your
											particular assignment, you can get a free quote on our website. Let us know
											what kind of task you’re struggling with, and we’ll calculate its cost for
											you.</p>
									</div>
								</div>
							</li>
							<li class="Accordion__item" itemscope itemprop="mainEntity"
								itemtype="https://schema.org/Question">
								<h3 class="Accordion__item__heading h3 toggle-link" itemprop="name">How can I order a
									technical assignment? <span class="Accordion__item__close"></span></h3>
								<div class="Accordion__item__body" itemscope itemprop="acceptedAnswer"
									itemtype="https://schema.org/Answer">
									<div class="Accordion__item__content" itemprop="text">
										<p>You can ask us for help by getting a free quote on our website. First you
											share your instructions with us, then we check whether we have an expert
											ready to address your problem. Don’t hesitate to get a quote — it’s free.
											You only pay after we find a professional capable of doing your task.</p>
									</div>
								</div>
							</li>
							<li class="Accordion__item" itemscope itemprop="mainEntity"
								itemtype="https://schema.org/Question">
								<h3 class="Accordion__item__heading h3 toggle-link" itemprop="name">Can you complete a
									mathematical problem for me? <span class="Accordion__item__close"></span></h3>
								<div class="Accordion__item__body" itemscope itemprop="acceptedAnswer"
									itemtype="https://schema.org/Answer">
									<div class="Accordion__item__content" itemprop="text">
										<p>Some of our specialists know STEM disciplines very well and can help you with
											math, engineering, programing and many more subjects. Get a free quote, and
											we will find you the right expert to deal with your assignment.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="section-faq__preview">
						<p class="section__subtitle">If your question is not on the list, you can use our chat and talk
							to our specialist.</p>
						<button id="chat-btn" data-show-livechat class="btn btn--orange"><a href="https://wa.me/+447769108567" style="color: white;">Open chat</a></button>
						<span class="section-faq__chat-working-hours">Monday 00:00 AM and Saturday 08:00 PM (UTC)</span>
					</div>
				</div>
			</div>
		</div>


		<div class="section section-cta section-cta--type-orange decor-2" data-observed-bg>
			<div class="container">
				<div class="section-cta__inner">
					<img src="/images/footer-related-links-images/redesign/decorations/img_paper.svg" width="73" height="89" alt="Decorative picture"
						loading="lazy">
					<h5>Need expert’s help?</h5>
					<p>Ask us to complete your custom assignment in any technical discipline</p>
					<a rel="nofollow" href="/form" class="btn btn--black-white">Place an
						order</a>
				</div>
			</div>
		</div>

		<%- include("../../partials/services-container.ejs") %>
		<%- include("../../partials/footer.ejs") %>

		<script>
			var scriptsArray = ["\/js\/cookie-dialog.bcf194b3a41f3dcdf706.js", "#\/js\/pricing-9a8b795a.3e3da37b9ead3c443243.js", "#\/js\/pricing-967efdc0.fb65818bee57a3d23cad.js", "#\/js\/pricing-217472bd.ab6e498f2460255f9922.js", "#\/js\/pricing-ff7f2a21.80bf7a54e9c95775ccf8.js", "#\/js\/pricing-fe80aa18.488ba1647e493f87da41.js", "\/js\/pricing-bb3f8b62.148edf7f98b8b7b3bd4d.js"];

			var body = document.getElementsByTagName('body')[0];
			window.addEventListener('load', function () {
				for (var scriptLink in scriptsArray) {
					var scriptEl = document.createElement('script');
					scriptEl.async = true;
					scriptEl.src = scriptsArray[scriptLink];
					body.appendChild(scriptEl);
				}
			});
		</script>


		<script>
			document.addEventListener('DOMContentLoaded', function() {
				const academicTab = document.querySelector('[data-tab-name="academic"]');
				const stemTab = document.querySelector('[data-tab-name="stem"]');
				const academicForm = document.querySelector('.service-form.academic');
				const stemForm = document.querySelector('.service-form.stem');
		
				function showAcademicForm() {
					academicForm.style.display = 'block';
					stemForm.style.display = 'none';
					academicTab.classList.add('active-tab');
					stemTab.classList.remove('active-tab');
				}
		
				function showStemForm() {
					stemForm.style.display = 'block';
					academicForm.style.display = 'none';
					stemTab.classList.add('active-tab');
					academicTab.classList.remove('active-tab');
				}
		
				academicTab.addEventListener('click', showAcademicForm);
				stemTab.addEventListener('click', showStemForm);
		 
				showAcademicForm();
			});

	document.addEventListener('DOMContentLoaded', () => {
    const headers = document.querySelectorAll('.Accordion__item__heading');

    headers.forEach(header => {
        const body = header.nextElementSibling;

        body.style.height = '0px';
        header.classList.add('plus');

        header.addEventListener('click', () => {
            
			if (body.style.height === '0px' || body.style.height === '') {
                body.style.height = `${body.scrollHeight}px`;
                body.classList.add('expanded');
                header.classList.add('minus');
                header.classList.remove('plus');
            } 
			
			else {
                body.style.height = '0px';
                body.classList.remove('expanded');
                header.classList.add('plus');
                header.classList.remove('minus');
            }
        });
    });
});

			
		</script>
		

		<script>!function (a) { "use strict"; var b = function (b, c, d) { function e(a) { return h.body ? a() : void setTimeout(function () { e(a) }) } function f() { i.addEventListener && i.removeEventListener("load", f), i.media = d || "all" } var g, h = a.document, i = h.createElement("link"); if (c) g = c; else { var j = (h.body || h.getElementsByTagName("head")[0]).childNodes; g = j[j.length - 1] } var k = h.styleSheets; i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () { g.parentNode.insertBefore(i, c ? g : g.nextSibling) }); var l = function (a) { for (var b = i.href, c = k.length; c--;)if (k[c].href === b) return a(); setTimeout(function () { l(a) }) }; return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this); !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);</script>
</body>
</html>