<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <title>Do SQL Assignment For Me</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta name="description"
    content="Do Task For Me delivers professional SQL assignment help with experts who can easily do your SQL homework. Plus, we offer a 20% discount on first orders">

  <link rel="icon" href="/images/logo.jpg" type="image/jpeg">
  <!-- <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffbe21">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="preconnect" href="https://www.gstatic.com/" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> -->

</head>

<%- include("../../partials/stem-assignments/head-content.ejs") %>

  <body>
    <div data-notify-widget class="NotifyWidget-banner"></div>

    <div class="page-wrapper ">

      <%- include("../../partials/header.ejs") %>
        <%- include("../../partials/whatsapp-contact.ejs") %>
          <%- include("../../partials/cursor-effect.ejs") %>

            <div class="section section-top-stem">
              <div class="container">
                <div class="breadcrumbs">
                  <ul class="wrap clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item"
                        href="/"><span itemprop="name">Do Task For Me</span></a>
                      <meta itemprop="position" content="1" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span
                        itemprop="name">Do My
                        SQL Homework</span>
                      <meta itemprop="position" content="2" />
                    </li>
                  </ul>
                </div>
                <div class="section-top-stem__content">
                  <div class="section-top-stem__inner">
                    <h1 class="section-top-stem__title">SQl homework help</h1>
                    <h1 class="section-top-stem__title2 typewrite" data-period="2000"
                      data-type='[ "Do SQL Task for me" ]'>
                      <span class="wrap"></span>
                    </h1>

                    <div class="section-top-stem__subtitle">
                      <p>Our experts can assist with your all types of sql database tasks</p>
                    </div>

                    <!-- 1. STEM RATINGS -->
                    <%- include("../../partials/stem-assignments/1-section-top-ratings.ejs") %>

                  </div>

                  <!-- 2. CALCULATOR STEM FORM -->
                  <%- include("../../partials/stem-assignments/2-calculator-form.ejs") %>

                    <!-- 3. Our Experts -->
                    <%- include("../../partials/stem-assignments/3-our-experts.ejs") %>

                      <!-- 4. Testimonials -->
                      <%- include("../../partials/stem-assignments/4-testimonials.ejs") %>

                        <!-- 5. Guarantees -->
                        <%- include("../../partials/stem-assignments/5-guarantees.ejs") %>

                          <!-- 6. Freebies -->
                          <%- include("../../partials/stem-assignments/6-freebies.ejs") %>

                            <!-- 7. Samples -->
                            <%- include("../../partials/stem-assignments/7-samples.ejs") %>

                              <!-- 8. Section CTA Place Order -->
                              <%- include("../../partials/stem-assignments/8-section-cta-place-order.ejs") %>

                                <%- include("../../partials/services-container.ejs") %>
                                  <%- include("../../partials/footer.ejs") %>


                                    <script>
                                      var scriptsArray = ["\/js\/cookie-dialog.bcf194b3a41f3dcdf706.js", "#\/js\/stem-page-36a4675c.7d0aa1dc1c5323675a37.js", "#\/js\/stem-page-7f854005.3442d61c295d8ea182dc.js", "#\/js\/stem-page-5e25e51c.aaab93f2af895cacacea.js", "#\/js\/stem-page-19fb679d.e0ad52818e8fce0e2e79.js", "#\/js\/stem-page-9aff8b4f.4fed9c97727c5748b134.js", "#\/js\/stem-page-5867fd2f.77794b4599b1d9ab397b.js", "#\/js\/stem-page-777dc6a6.bc60ff9652e707114116.js", "#\/js\/stem-page-49a3d997.8594ec32b109a170e99f.js", "#\/js\/stem-page-8c63837c.27f4e31cd6791b0967ce.js", "#\/js\/stem-page-660d5a00.2dca8b3bbb3e04227be8.js", "#\/js\/stem-page-d709cb08.bf94802175b49312e8e9.js", "#\/js\/stem-page-9df52730.fc060183d365e6ac4350.js", "#\/js\/stem-page-faa6b50c.17e66ed71664329f1eec.js", "#\/js\/stem-page-5cd3da8b.9f7c9d58944a2e2b9357.js", "#\/js\/stem-page-48854e5e.42292d1ed1c187409453.js", "#\/js\/stem-page-d877b9a4.0fcc6fa65b0a7c961024.js", "#\/js\/stem-page-2b27fc9a.6087efcfc413622d3dad.js", "#\/js\/stem-page-33bb4a61.de38c82eb2ed4d77b2d3.js", "#\/js\/stem-page-0fa8bdf2.bebae0067cfa1e3fe3ec.js", "#\/js\/stem-page-c2b9f2ed.c7650df5f59927ce4a47.js", "#\/js\/stem-page-229eafb5.2ffc99762425e78cedb0.js", "#\/js\/stem-page-49c8157c.c5d2536ae4ff58e2efca.js", "#\/js\/stem-page-c01911d2.d798a6c73599a8473ad9.js", "#\/js\/stem-page-f42ad8f9.8c715e5e37d2060f9656.js", "#\/js\/stem-page-2b3c4458.dd8eae4cf06a79307516.js", "#\/js\/stem-page-5346d2be.4e93f2f1cfe1265477cf.js", "#\/js\/stem-page-ff7f2a21.86c43651f277b537d251.js", "#\/js\/stem-page-15aeb8ca.c34aaa272c4f349ffe90.js", "\/js\/stem-page-4138be91.566837493e515c4bcd4f.js"];

                                      var body = document.getElementsByTagName('body')[0];
                                      window.addEventListener('load', function () {
                                        for (var scriptLink in scriptsArray) {
                                          var scriptEl = document.createElement('script');
                                          scriptEl.async = true;
                                          scriptEl.src = scriptsArray[scriptLink];
                                          body.appendChild(scriptEl);
                                        }
                                      });
                                    </script>
                                    <script>var TxtType = function (el, toRotate, period) {
                                        this.toRotate = toRotate;
                                        this.el = el;
                                        this.loopNum = 0;
                                        this.period = parseInt(period, 10) || 2000;
                                        this.txt = '';
                                        this.tick();
                                        this.isDeleting = false;
                                      };

                                      TxtType.prototype.tick = function () {
                                        var i = this.loopNum % this.toRotate.length;
                                        var fullTxt = this.toRotate[i];

                                        if (this.isDeleting) {
                                          this.txt = fullTxt.substring(0, this.txt.length - 1);
                                        } else {
                                          this.txt = fullTxt.substring(0, this.txt.length + 1);
                                        }

                                        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

                                        var that = this;
                                        var delta = 70 - Math.random() * 30; //Speed Controller

                                        if (this.isDeleting) { delta /= 2; }

                                        if (!this.isDeleting && this.txt === fullTxt) {
                                          delta = this.period;
                                          this.isDeleting = true;
                                        } else if (this.isDeleting && this.txt === '') {
                                          this.isDeleting = false;
                                          this.loopNum++;
                                          delta = 500;
                                        }

                                        setTimeout(function () {
                                          that.tick();
                                        }, delta);
                                      };

                                      window.onload = function () {
                                        var elements = document.getElementsByClassName('typewrite');
                                        for (var i = 0; i < elements.length; i++) {
                                          var toRotate = elements[i].getAttribute('data-type');
                                          var period = elements[i].getAttribute('data-period');
                                          if (toRotate) {
                                            new TxtType(elements[i], JSON.parse(toRotate), period);
                                          }
                                        }
                                        // INJECT CSS
                                        var css = document.createElement("style");
                                        css.type = "text/css";
                                        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #ffff}";
                                        document.body.appendChild(css);
                                      };
                                    </script>

                                    <script>


                                      document.addEventListener('DOMContentLoaded', function () {
                                        document.getElementById('programmingBtn').style.color = 'black';
                                        document.getElementById('programmingBtn').style.backgroundColor = 'white';
                                        document.getElementById('programmingBtn').addEventListener('click', function () {
                                          document.getElementById('programmingDisciplines').style.display = 'block';
                                          document.getElementById('calculationDisciplines').style.display = 'none';
                                          document.getElementById('programmingBtn').style.color = 'black';
                                          document.getElementById('calculationsBtn').style.color = 'rgb(172, 172, 172)';
                                          document.getElementById('programmingBtn').style.backgroundColor = 'white';
                                          document.getElementById('calculationsBtn').style.backgroundColor = 'rgb(243, 243, 243)';

                                        });

                                        document.getElementById('calculationsBtn').addEventListener('click', function () {
                                          document.getElementById('programmingDisciplines').style.display = 'none';
                                          document.getElementById('calculationDisciplines').style.display = 'block';
                                          document.getElementById('calculationsBtn').style.color = 'black';
                                          document.getElementById('programmingBtn').style.color = 'rgb(172, 172, 172)';
                                          document.getElementById('programmingBtn').style.backgroundColor = 'rgb(243, 243, 243)';
                                          document.getElementById('calculationsBtn').style.backgroundColor = 'white';

                                        });
                                      });

                                    </script>
                                    <script>!function (a) { "use strict"; var b = function (b, c, d) { function e(a) { return h.body ? a() : void setTimeout(function () { e(a) }) } function f() { i.addEventListener && i.removeEventListener("load", f), i.media = d || "all" } var g, h = a.document, i = h.createElement("link"); if (c) g = c; else { var j = (h.body || h.getElementsByTagName("head")[0]).childNodes; g = j[j.length - 1] } var k = h.styleSheets; i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () { g.parentNode.insertBefore(i, c ? g : g.nextSibling) }); var l = function (a) { for (var b = i.href, c = k.length; c--;)if (k[c].href === b) return a(); setTimeout(function () { l(a) }) }; return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this); !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);</script>
  </body>

</html>